---
layout: default
title: Дивный Друг Гуся-Лебедь
keywords: кеесхонд Гуся, Дивный Друг Гуся-Лебедь
menu: dogs
supergallery:
  - gusja/20200815-gusja-2.jpg
  - gusja/20200815-gusja-1.jpg
  - gusja/gusja-2017-2.jpg
  - gusja/gusja-2018-13.jpg
  - gusja/20200105-gusja1.jpg
  - gusja/20200105-gusja2.jpg
  - gusja/20200105-gusja3.jpg
  - gusja/20200105-gusja4.jpg
  - gusja/20200105-gusja5.jpg
  - g/gusja/11.jpg
  - g/gusja/12.jpg
  - g/gusja/18.jpg
  - g/gusja/19.jpg
  - g/gusja/23.jpg
  - g/gusja/24.jpg
  - gusja/gusja-2017-1.jpg
  - gusja/gusja-2018-01.jpg
  - gusja/gusja-2018-2.jpg
  - gusja/gusja-2018-3.jpg
  - gusja/gusja-2018-4.jpg
  - gusja/gusja-2018-7.jpg
  - gusja/gusja-2018-9.jpg
  - gusja/gusja-2018-11.jpg
  - gusja/gusja-2018-12.jpg
  - gusja/gusja-2018-14.jpg
  - gusja/gusja-2018-15.jpg
  - gusja/gusja-2018-16.jpg
  - gusja/gusja-2018-17.jpg
  - gusja/gusja-2018-18.jpg


f-name: Trumpet's Fight For Your Right
f-titles: Grand Ch.RUS, Ch.CLUB, Ch.RKF, Ch.INT, Eurasian W, Ch.RUS, Ch.USA, LTUW, Ch.KAZ, Ch.KGZ, Ch.BLR
f-tests: HD-А, ED-0, PL-0, Eyes-clean, PHPT-negative

ff-name: Dreamwoods Rock The Boat
ff-titles: Ch.USA
ff-tests: HD-A, ED-0

fff-name: Dreamwoods Jingle Bell Rock
fff-titles: Ch.USA
fff-tests: HD-А 

ffm-name: Dreamwoods Some Like It Hot
ffm-titles: Ch.USA

fm-name: Trumpet's Love For Sale
fm-titles: Ch.USA
fm-tests: HD-А ED-0 PHPT-negative

fmf-name: Shakota's Shot In The Dark
fmf-titles: Ch.USA
fmf-tests: HD-А ED-0 PHPT-negative

fmm-name: Trumpet's Tainted Love
fmm-titles: Ch.USA
fmm-tests: HD-А ED-0 PHPT-negative

m-name: Diva Divnaya Iz Mirashela
m-titles: Grand Ch.RUS, PRCh.RUS, JCh.RUS, JCh.CLUB, Ch.CLUB, Ch.RKF×4, Ch.RFOS×2, Ch.INT, Сh.Breed (Russia), Best Dog of Breed (Russia), Best Dog of Breed of Year (Russia), Ch.RUS, WW, Ch.UKR
m-tests: HD-B ED-0 PL-0 Eyes-clean PHPT-negative

mf-name: Lohamras King Of The Road 
mf-titles: Grand Ch.RUS,Grand Champion of Russia, Ch.CLUB, Ch.RKF, Ch.INT, Ch.RUS, SWEW, Ch.KAZ, Ch.NOR, Ch.DNK, Ch.HRV, Ч.СКК
mf-tests: HD-А ED-0 PL-0 Eyes-clean PHPT-negative

mff-name: Lohamras Hakuna Matata
mff-titles: Ch.INT, International Champion, Ch.NORD, Ch.DNK
mff-tests: HD-А ED-0 

mfm-name: Lohamras Elvira
mfm-titles: Ch.INT, International Champion, Ch.SWE
mfm-tests: HD-А ED-0 

mm-name: Gloriya Florens Bessi Light
mm-titles: Grand Ch.RUS, JCh.RUS, Ch.CLUB, Ch.RKF, Ch.RUS
mm-tests: PHPT-negative

mmf-name: Aleut
mmf-titles: Ch.RUS
mmf-tests: PHPT-negative

mmm-name: Aistraum Kristina
mmm-titles: Ch.RKF, Ch.RUS
link-spitz: http://spitz.su/wolfsspitz/divnyy-drug-gusja-lebed

---
    {% include supergallery.html %}

<p><em><center>
		РНРТ - negative b/d, H/D - A/A, E/D – 0/ 0, PL - 0/0, Eyes (PRA, RD, PHTVL, PLL, PPM) - clean-2018<br>
		Интернациональный чемпион, Абсолютный Чемпион НКП,  Юный и взрослый Гранд Чемпион России,  России, НКП, Литвы, Беларуси, Чемпион РКФ, Чемпион Породы-2017, Победитель Клуба-2020
    <br>

    BIS-I монопородной выставки, BIS-II монопородной выставки, BIG-II, Junior-BIS-IV, Baby BIS-I</center></em><br><p>

		
<p>Гуся, Гусенок - самая нежная и ласковая девочка. Очень наивная, верит всем и вся :-)  </p>
<p>Почему Гуся? Изначально она была самым жирным и светлым щенком... Вот прям жирным, как гусь :-)) "Гуся" к ней прицепилось.. Потом дошло дело до официальной клички... Думали назвать Голландской Кружевницей, но как-то что-то не то, не ее.. А потом осенило! Гуся-Лебедь! :-) У нее еще и клеймо соответствующее - 22! Она сама вне очереди влезла. Муж долго был против. Говорит, как ее на прогулке-то звать? "Гусь-гусь-гусь"? А в ответ "Га-га-га" :-) Предлагал другие варианты. Прохожие на улице сначала удивлялись, конечно. Но ничего, все привыкли. Так она и стала - "Гусеной, Гусякой, Гусечкой". </p>

{% include pedigree.html %}


  