---
layout: default
title: Груминг кеесхондов
menu: useful
---
<p>Все новоиспеченные владельцы кеесхондов так или иначе озадачиваются вопросом, как же правильно мыть и расчесывать шубку кеесхондов, чтобы она &nbsp;радовала и самого &nbsp;кеесхонда, и окружающих.</p>

<p>Варианта тут два. Идеально - обратиться к профессионалу, который правильно расчешет, помоет, уложит, а при необходимости, и подстрижет шерсть. &nbsp;Правда, есть оговорка, профессионалов-грумеров в породе не так много. А точнее, их можно по пальцам пересчитать. Если у вас не получается записаться к одному из них, пожалуйста, не надо экспериментировать и бежать в первый попавшийся зоосалон, где вообще вряд ли знают о существовании нашей породы.</p>

<p>Не всегда есть возможность обратиться к профессионалу, если вы не готовите собаку для выставки, то, уверена, с первым грумингом вы справитесь и сами. Если же вы собираетесь выходить в ринг, то лучше обратиться к своему заводчику, который даст конкретные советы по грумингу вашей собаки.</p>

<p>Данная статья не претендует на истину в последней инстанции. Наверняка, у каждого заводчика есть свои секреты, своя последовательность действий. Но новичку, надеюсь, эти советы пригодятся.</p>

<p>Вот примерный порядок действия для приведения шубки кеесхонда в порядок:</p>

<ol>
	<li>
		<p>Перед помывкой необходимо тщательно прочесать собаку, чтобы нигде не было колтунов. Особенно за ушами, под мышками, на животе. Для щенка это не так актуально, как для взрослой собаки. Но лучше, если щенок будет сразу привыкать к определенному порядку. У взрослой собаки необходимо вычесать старый подшерсток (мертвая шерсть будет сама отходить при расчесывании).</p>
	</li>
	<li>
		<p>Ведем собаку в ванную и пытаемся намочить шерсть под струей воды. У кеесхонда довольно трудно намочить шерсть, а у щенка практически невозможно. Поэтому приготовьтесь к тому, что на то, чтобы вся собака стала мокрой, потребуется достаточно времени.</p>
		<p>Следите, чтобы температура воды должна была не слишком высокой (если видите, что пес начинает часто дышать - сделайте воду прохладнее), и не слишком низкой, чтобы собака не простудилась. Намочить нужно всю собаку, кроме ушей и морды. Морду можно ополоснуть водой из руки.</p>
	</li>
	<li>
		<p>Разводим шампунь водой в пропорциях, указанных на этикетке. Разводить можно в бутылочках из-под использованных человеческих шампуней, в банках и т.д. Сама емкость не так важна :-) ).</p>
		<p>Шампунь должен быть предназначен для собак со средней или жесткой шерстью. Это может быть текстурирующий шампунь или шампунь для собак с двойной шерстью. Шампунь для шпицев, колли, бобтейлов. Классика - Банановый Iv San Bernard (шампунь и кондиционер). Кто-то пользуется шампунями Isle Of Dogs, Artero. Помните, что вам НЕ нужен шампунь для длинной шерсти, где в породах значатся болонки и йоркширские терьеры - такой шампунь утяжелит шерсть и вместо воздушного шарика, &nbsp;Вы рискуете получить прилизанную болонку&hellip;</p>
	</li>
	<li>
		<p>Необходимо нанести разведенный шампунь на мокрую шерсть и тщательно вспенить. Наносить можно как обычный шампунь, а можно с помощью губки, нанося только пену. Получается и экономнее по шампуню, и легче равномерно распределить шампунь по всей собаке.</p>
		<p>После того, как шампунь всепенен, его необходимо тщательно смыть.</p>
		<p>Если собака грязная, нанести шампунь еще раз. Смыть.</p>
		<p>Смывать надо очень &nbsp;хорошо, чтобы не осталось следов шампуня.</p>
		<p>Нанести разведенный кондиционер, подержать минут 10-20 на собаке &nbsp;(желательно при этом укутать собаку теплым полотенцем). И снова хорошо смыть.</p>
	</li>
	<li>
		<p>Дать собаке встряхнуться. Вытереть ее полотенцем. Но не насухо. Главное &nbsp;- чтобы не стекала вода.</p>
	</li>
	<li>
		<p>Относим собаку к месту сушки. Хорошо, если это будет стол с каким-либо нескользским покрытием (например, с резиновым ковриком). Стол нужен для того, чтобы после сушки не отваливалась спина :-) Можно обойтись и без стола, &nbsp;пока щенок маленький. Но в дальнейшем взрослую собаку очень удобно сушить на столе. Да и приучать собаку к столу лучше с младенчества.</p>
	</li>
	<li>
		<p>Включаем фен. Фен должен быть мощным. Желательно - от 2000 Ватт. &nbsp;Идеально, если это будет не фен, а компрессор. Хорошо, если фен будет держать помощник или специальный металлический держатель. Берем в руку расческу/пуходерку и начинаем потихоньку расчесывать, направляя струю воздуха от фена под расческу. Задача - оттянуть шерсть. Сушить необходимо против направленя роста волос, чтобы шерсть поднималась, чтобы в итоге получился &ldquo;шарик из шерсти&rdquo;, а не прилизанная собака. Можно ориентироваться на схему направления сушки-расчесывания шпица (ведь кеесхонд - это тоже шпиц). Во время сушки не забудьте &quot;поднять&quot; шерсть на лапках - так лапки выглядят объемнее.</p>
		<p>Сушка - самый ответственный момент в подготовке шерсти у кеесхонда.</p>
		<p>Важно просушить и оттянуть всю шерсть. Придать вид шарика.</p>
	</li>
	<li>
	<p>Стрижка. Стандартом стрижка не предусмотрена. Но для придания гармоничного вида, возможна легкая стрижка филировочными ножницами. Новичку за такую стрижку конечно, брать не стоит. Можно попытаться самим подстричь лапки - придать им кошачью форму. Обязательно подстригите шерсть между подушечек пальцев. Подстригите когтерезкой когти. Помните, что кеесхондам НЕ стригут уши.</p>
	</li>
</ol>

<p>По сути, вот и все, собака &nbsp;приведена в порядок.</p>

<p>А чтобы новоиспеченному владельцу не растеряться, приведу несколько позиций из того, что возможно приобрести своему питомцу (но не обязательно, разве что помимо расчесок).</p>
<h4>Шампуни</h4>
<p><b>Iv San Bernard</b> - Шампунь и кондиционер Банан для шерсти средней длины</p>
<p align="center">{% include photo-article.html photo="grooming1" %} {% include photo-article.html photo="grooming2" %}</p>
<p><b>Isle Of Dogs</b> - Шампунь No. 20 Royal Jelly Shampoo и Кондиционер No. 50 Light Management Conditioner</p>
<p align="center">{% include photo-article.html photo="grooming3" %} {% include photo-article.html photo="grooming4" %}</p>
<p><b>Pure Paws</b> - Шампунь Volumizing Shampoo и Кондиционер Volumizing Conditioner</p>
<p align="center">{% include photo-article.html photo="grooming5" %} {% include photo-article.html photo="grooming6" %}</p>
<p><b>CHRIS CHRISTENSEN</b> - Шампунь Day To Day и Кондиционер-стабилизатор After Bath</p>
<p align="center">{% include photo-article.html photo="grooming6" %} {% include photo-article.html photo="grooming7" %}</p>

<h4>Фен/компрессор</h4>
<p><b>Moser 4350-0050</b> - фен</p>
<p align="center">{% include photo-article.html photo="grooming9" %}</p>
<p><b>KOMONDOR F-03</b> - компрессор</p>
<p align="center">{% include photo-article.html photo="grooming10" %}</p>

<h4>Расчески</h4>
<p><b>Питерские пуходерки</b> - один из вариантов заказа можно <noindex><a href="https://docs.google.com/forms/d/1MaFUnj7eSnAuEGQAkYknjJ_SwcMAex14U9tRGxxPAxU/viewform
" rel="nofollow" target="_blank">посмотреть тут</a></noindex></p>
<p align="center">{% include photo-article.html photo="grooming15" %}{% include photo-article.html photo="grooming15-1" %}</p>
<p><b>Гребень Oster Comb 10</b></p>
<p align="center">{% include photo-article.html photo="grooming14" %}</p>

<h4>Стол для груминга</h4>
<p><b>KOMONDOR TS-03N</b></p>
<p align="center">{% include photo-article.html photo="grooming11" %}</p>

<h4>Ножницы для груминга</h4>
<p><b>KOMONDOR CY-35</b> - прямые ножницы</p>
<p align="center">{% include photo-article.html photo="grooming12" %}</p>
<p><b>KOMONDOR CY-40</b> - филировочные ножницы</p>
<p align="center">{% include photo-article.html photo="grooming13" %}</p>
