---
layout: default
title: Чемпионат Мира в Хельсинки
menu: diva
---
<h4>Прогулка по Хельсинки</h4>

<p>&nbsp;</p>

<p>Как ни странно, поездка началась с дорожных эмоций. До Хельсинки решено было добираться на самолете с пересадкой в Риге. И по деньгам не так дорого, и в плане работы проще - не нужно брать дополнительные дни отпуска.</p>

<p>Итак, аэропорт Шереметьево. Посадка на самолет Москва-Рига. Конечно боюсь лететь. Хоть и успокаивала себя, внутреннее напряжение определенно присутствовало. Самолет попался небольшой (у меня мало опыта в перелетах, наш боинг мне показался все-таки скорее маленьким, чем средним). Но вот, не успела я толком и побоятся, как Москва уже под нами. Летим. Леса-поля-деревни-речки. Чем ближе к Риге, тем интереснее становится пейзаж. Больше засеянных-убранных полей. Привлекли внимания поля с чем-то шоколадно-коричневым. Что собирают в большие горки. Подумалось про гречку, но не знаю.</p>

<p>Приземлились вполне нормально. Думала, по приземлению похлопаем экипажу, но что-то это перестало быть модным, экипажу не похлопали.</p>

<p>&nbsp;</p>

<p>Аэропорт Риги. Два часа ожидания, с удовольствием читаю &quot;Фаворита&quot; Пикуля (как же актуален этот роман сегодня!). Время пролетело быстро. Прошла таможню. Началась посадка на следующий самолет Рига-Хельсинки. И тут я увидела наш самолет :-) Если в первый перелет мне было страшно, то во второй действительно смешно :-) Самолет оказался ну очень маленьким (4 кресла в ряду) и с пропеллерами! Его очень штормило при входе в облака. Качка была заметной. Но долетели нормально, чему и рада.</p>

<p>Да, с удовольствием посмотрела на берег Балтийского моря. Потрясающий вид.</p>

<p>&nbsp;</p>

<p>С гудением приземлились в аэропорту Хельсинки. Здравствуй, Финляндия!</p>

<p align="center">{% include photo.html photo="helsinki/img_6391" height="200"%}</p>

<p>Поскольку времени было не так много, сразу пошла искать автобус до города. Долго не искала, купила билетик (в электронном терминале, оплатила с помощью карточки, ну очень удобно), села в автобус и поехала в город, по пути фотографируя то, что показалось интересным.</p>
<p align="center">{% include photo.html photo="helsinki/img_6392" height="200"%}{% include photo.html photo="helsinki/img_6393" height="200"%}</p>

<p>Из интересного поразили наши русские березки, которые растут среди финских камней. И вполе себе неплохо растут. Но непривычно.</p>
<p align="center">{% include photo.html photo="helsinki/img_6394" height="200"%}{% include photo.html photo="helsinki/img_6397" height="200"%}</p>


<p>Приехали на вокзал и я отправилась гулять по городу.</p>
<p align="center">{% include photo.html photo="helsinki/img_6398" height="200"%}{% include photo.html photo="helsinki/img_6399" height="200"%}</p>
<p>&nbsp;</p>

<p>Вообще, было несколько целей поездки. Главная - посмотреть Чемпионат Мира под судейством породника. И сопутствующая - найти консервированную квашенную селедку. Сюрстроминг. (По заказу из Москвы). Ну и очень хотелось поглядеть на Балтийское море.</p>
<p align="center">{% include photo.html photo="helsinki/img_6400" height="200"%}{% include photo.html photo="helsinki/img_6401" height="200"%}</p>

<p>&nbsp;</p>

<p>Итак, цель есть. Город, ж/д вокзал. Примерно представляю направление движения. Вперед!</p>
<p align="center">{% include photo.html photo="helsinki/img_6404" height="200"%}{% include photo.html photo="helsinki/img_6405" height="200"%}</p>
<p align="center">{% include photo.html photo="helsinki/img_6406" height="200"%}{% include photo.html photo="helsinki/img_6408" height="200"%}</p>

<p>&nbsp;</p>

<p>Осмотрела привокзальную площадь и пошла по одной из улиц. Вокруг полноценные велосипедные дорожки и очень много велосипедистов. Велосипеды всюду и это прекрасно! Иду, осматриваю местные пейзажи, местных людей.&nbsp;</p>
<p align="center">{% include photo.html photo="helsinki/img_6409" height="200"%}{% include photo.html photo="helsinki/img_6411" height="200"%}</p>
<p align="center">{% include photo.html photo="helsinki/img_6412" height="200"%}{% include photo.html photo="helsinki/img_6414" height="200"%}</p>
<p>Финны - очень приветливые. Очень много молодежи, много семейных пар с детьми. Очень много светленьких, прям белесых :-)</p>
<p align="center">{% include photo.html photo="helsinki/img_6417" height="200"%}{% include photo.html photo="helsinki/img_6418" height="200"%}</p>
<p>&nbsp;</p>

<p>К морю иду по запаху. Дует ветер, чувствую соленый запах и иду. Чувствую себя ищейкой :-)</p>
<p align="center">{% include photo.html photo="helsinki/img_6419" height="200"%}{% include photo.html photo="helsinki/img_6420" height="200"%}</p>
<p>&nbsp;</p>

<p>Попутно захожу в местные магазинчики, ищу консервы с селедкой и лакричные конфеты (в подарок своим). Магазинчики все очень приятные, все аккуратно, уютно, большой ассортимент. Есть консервы из медведя, лося и оленя. Много лакричных конфет. А вот сюрстромминг не попадается. Спрашиваю у продавцов на ломанном английском - нет, они не понимают, о чем речь...</p>
<p align="center">{% include photo.html photo="helsinki/img_6421" height="200"%}{% include photo.html photo="helsinki/img_6423" height="200"%}</p>
<p align="center">{% include photo.html photo="helsinki/img_6424" height="200"%}{% include photo.html photo="helsinki/img_6425" height="200"%}</p>
<p>Иду дальше, ищу море, ищу селедку.</p>
<p align="center">{% include photo.html photo="helsinki/img_6427" height="200"%}{% include photo.html photo="helsinki/img_6428" height="200"%}</p>
<p align="center">{% include photo.html photo="helsinki/img_6429" height="200"%}{% include photo.html photo="helsinki/img_6430" height="200"%}</p>

<p>&nbsp;</p>

<p>Встречаю двух девушек с ребенком. Спрашиваю (на том же ломанном), где я могу найти Балтийское море?&nbsp;</p>

<p>- Балтийское море?? Вы хотите попасть в Талинн?</p>

<p>- Нет, я хочу увидеть Балтийское море.</p>

<p>- Вы хотите попасть на корабль?</p>

<p>- Нет, мне не нужен конкретный корабль, мне нужно Балтийское море.</p>

<p>- Ааа, вы хотите туда, где много кораблей?</p>

<p>- Ну хотя бы так.</p>

<p>- Эмм, вам куда-то вот-туда.</p>

<p>- Спасибо, а вы знаете про сюрстромминг?</p>

<p>- Эммм, мы не понимаем вас...</p>

<p>&nbsp;</p>

<p>Надо сказать, перед вылетом искала в Москве сувенир для одного человека из Англии. Нашла очень симпатичные тарелочки с видом Москвы. Спрашиваю у продавщицы: &quot;А не могли бы показать тарелочку с Храмом Василия Блаженного?&quot;. &quot;КОГО-КОГО??! Я таких не знаю&quot; Был мне ответ.</p>

<p>1:1.</p>
<p align="center">{% include photo.html photo="helsinki/img_6431" height="200"%}{% include photo.html photo="helsinki/img_6432" height="200"%}</p>
<p align="center">{% include photo.html photo="helsinki/img_6435" height="200"%}{% include photo.html photo="helsinki/img_6436" height="200"%}</p>


<p>Иду дальше, чувствую, море совсем близко. По пути захожу в один из магазинчиков, подхожу к витринам с консервами и на пальцах показываю, что хочу квашенную селедку (думала, стоит демонстративно затыкать нос или не надо, решила не усердствовать). О ЧудО! Меня поняли! Но не сюрстромминга у них нет. Это вообще не финское блюдо, а шведское. Попробуйте в Стокманне, если там нет, то нигде нет.</p>

<p align="center">{% include photo.html photo="helsinki/img_6437" height="200"%}{% include photo.html photo="helsinki/img_6440" height="200"%}</p>
<p align="center">{% include photo.html photo="helsinki/img_6442" height="200"%}{% include photo.html photo="helsinki/img_6443" height="200"%}</p>


<p>Ну ладно, в Стокманн зайду на обратном пути. А пока путь лежит к морю.</p>
<p align="center">{% include photo.html photo="helsinki/img_6445" height="200"%}{% include photo.html photo="helsinki/img_6446" height="200"%}</p>
<p align="center">{% include photo.html photo="helsinki/img_6447" height="200"%}{% include photo.html photo="helsinki/img_6448" height="200"%}</p>


<p>Вот и огромный корабль Peter Line! Но он стоит в каком-то заливчике, морем это не назовешь. Но цель явно где-то близко. Обхожу его вдоль берега и попадаю на какую-то площадь с блошиным рынком! Самым настоящим блошиным рынком почти в центре Хельсинки! Неожиданно :-) На рынке много одежды, украшений, посуды, книг. Но все таааакоооое повидавшее виды. С одной стороны, я бы и за деньги большинство вещей не стала брать. С другой стороны, в Хельсинки все безумно дорого по сравнению с нашими ценами. Думаю, для части населения это один из способов обновлять свои вещи.</p>

<p align="center">{% include photo.html photo="helsinki/img_6450" height="200"%}{% include photo.html photo="helsinki/img_6453" height="200"%}</p>
<p align="center">{% include photo.html photo="helsinki/img_6454" height="200"%}{% include photo.html photo="helsinki/img_6458" height="200"%}</p>

<p>Побродила по этому рынку и пошла дальше. Море действительно оказалось близко. Но за забором :( Подойти близко так и не получилось. Понимаю, что где-нибудь забор наверняка кончается. Но неопределенность и усталость сделали свое дело. Решила повернуть обратно.</p>

<p align="center">{% include photo.html photo="helsinki/img_6459" height="200"%}{% include photo.html photo="helsinki/img_6460" height="200"%}</p>
<p align="center">{% include photo.html photo="helsinki/img_6461" height="200"%}{% include photo.html photo="helsinki/img_6463" height="200"%}</p>


<p align="center">{% include photo.html photo="helsinki/img_6464" height="200"%}{% include photo.html photo="helsinki/img_6467" height="200"%}</p>
<p align="center">{% include photo.html photo="helsinki/img_6468" height="200"%}{% include photo.html photo="helsinki/img_6469" height="200"%}</p>

<p align="center">{% include photo.html photo="helsinki/img_6470" height="200"%}{% include photo.html photo="helsinki/img_6471" height="200"%}</p>
<p align="center">{% include photo.html photo="helsinki/img_6472" height="200"%}{% include photo.html photo="helsinki/img_6473" height="200"%}</p>

<p>Зашла в Стокманн. Консервы, конечно, не нашла. Попыталась найти в одном из детских магазинчиков игрушки с Мумми Троллями. Игрушки были, но ничего симпатичного, на мой взгляд. Ну и ладно.</p>
<p align="center">{% include photo.html photo="helsinki/img_6474" height="200"%}{% include photo.html photo="helsinki/img_6478" height="200"%}</p>
<p>&nbsp;</p>

<p>Пошла на вокзал, искать электричку до Керавы, где у меня был забронирован отель. Электрички ходят часто. Идут быстро. Вроде бы Керава и считается пригородом, она гораздо дальше и Ваанты, и Тиккурилы, но ехать до нее минут 15 на электричке. 7 евро и заветный билет в кармане.</p>

<p>&nbsp;</p>

<p>Электрички внутри очень чистые, очень приятные. Внутри ходят кондукторы. Но кондукторы не выполняют роль контроллеров. Никто не спрашивает у тебя билетики. Хочешь - покупай, хочешь - нет. Но финны - ответственный народ. Берут многие (за всех не поручусь :-)).</p>

<p>&nbsp;</p>

<p>Итак, станция Керава. Железнодорожный вокзал. Безумное количество велосипедов. Закрепленных за поручней и оставленных просто так. Город выглядит очень ухоженным и уютным.</p>
<p align="center">{% include photo.html photo="helsinki/img_6479" height="200"%}{% include photo.html photo="helsinki/img_6483" height="200"%}</p>
<p align="center">{% include photo.html photo="helsinki/img_6484" height="200"%}{% include photo.html photo="helsinki/img_6486" height="200"%}</p>

<p>Спрашиваю у местных жителей, как добраться до нужной улицы - без проблем помогают. Дохожу до отеля. Отель совсем небольшой, рассчитанный на молодежь. Внутри бар, в котором играет рок :-) В общем-то, мне много не надо, только переночевать одну ночь. Номер небольшой, но чистый. А большего мне и не надо. Кладу вещи, беру фотик и иду гулять по городу.</p>
<p align="center">{% include photo.html photo="helsinki/img_6487" height="200"%}{% include photo.html photo="helsinki/img_6488" height="200"%}</p>


<p>Очень много велосипедистов. Много просто отдыхающих и гуляющих людей. Потом стали попадаться кабриолеты. Один, другой, третий. И не только кабриолеты, много других интересных машин. Выхожу на какую-то площадь, где играет рок-концерт. А вокруг припаркованы ретро-автомобили, много рокеров. Видимо, какой-то фестиваль (местных масштабов). Но при этом все мирно и спокойно. Те же рокеры ооочень уважительно относятся к окружающим, очень бережно останавливаются на пешеходных переходах.</p>
<p align="center">{% include photo.html photo="helsinki/img_6489" height="200"%}{% include photo.html photo="helsinki/img_6490" height="200"%}</p>
<p align="center">{% include photo.html photo="helsinki/img_6491" height="200"%}{% include photo.html photo="helsinki/img_6492" height="200"%}</p>
<p align="center">{% include photo.html photo="helsinki/img_6493" height="200"%}{% include photo.html photo="helsinki/img_6494" height="200"%}</p>
<p align="center">{% include photo.html photo="helsinki/img_6495" height="200"%}{% include photo.html photo="helsinki/img_6496" height="200"%}</p>
<p align="center">{% include photo.html photo="helsinki/img_6497" height="200"%}{% include photo.html photo="helsinki/img_6499" height="200"%}</p>
<p align="center">{% include photo.html photo="helsinki/img_6501" height="200"%}{% include photo.html photo="helsinki/img_6502" height="200"%}</p>
<p align="center">{% include photo.html photo="helsinki/img_6506" height="200"%}{% include photo.html photo="helsinki/img_6507" height="200"%}</p>
<p>Сам по себе город ну очень уютный. По мне, так идеальный для семейных пар и пожилых людей. Если Хельсинки - классический европейский каменный город. То в Кераве действительно по-домашнему уютно и хорошо. Рекомендую!</p>
<p align="center">{% include photo.html photo="helsinki/img_6509" height="200"%}{% include photo.html photo="helsinki/img_6510" height="200"%}</p>
<p align="center">{% include photo.html photo="helsinki/img_6512" height="200"%}{% include photo.html photo="helsinki/img_6513" height="200"%}</p>
<p align="center">{% include photo.html photo="helsinki/img_6514" height="200"%}{% include photo.html photo="helsinki/img_6521" height="200"%}</p>
<p align="center">{% include photo.html photo="helsinki/img_6522" height="200"%}{% include photo.html photo="helsinki/img_6523" height="200"%}</p>
<p align="center">{% include photo.html photo="helsinki/img_6530" height="200"%}{% include photo.html photo="helsinki/img_6531" height="200"%}</p>
<p align="center">{% include photo.html photo="helsinki/img_6533" height="200"%}{% include photo.html photo="helsinki/img_6536" height="200"%}</p>
<p align="center">{% include photo.html photo="helsinki/img_6537" height="200"%}{% include photo.html photo="helsinki/img_6538" height="200"%}</p>
<p align="center">{% include photo.html photo="helsinki/img_6539" height="200"%}{% include photo.html photo="helsinki/img_6541" height="200"%}</p>
<p align="center">{% include photo.html photo="helsinki/img_6542" height="200"%}{% include photo.html photo="helsinki/img_6543" height="200"%}</p>
<p align="center">{% include photo.html photo="helsinki/img_6547" height="200"%}{% include photo.html photo="helsinki/img_6549" height="200"%}</p>
<p align="center">{% include photo.html photo="helsinki/img_6550" height="200"%}{% include photo.html photo="helsinki/img_6553" height="200"%}</p>
<h4>Чемпионат мира</h4>

<p>Следующий день. Утро. Нужно спешить на Чемпионат Мира.&nbsp;</p>

<p>Электричка. Минут 7 пешком. Выставочный центр.</p>

<p>Никаких очередей. Покупаю билет, покупаю каталог. Все очень приветливы :-)</p>

<p>&nbsp;</p>

<p>Ринг № 18. Ринг кеесхондов. Ура! На месте :-)</p>

<p>Выбрала место для съемки, благо, вокруг ринга стоят лавочки, на которых очень удобно следить за происходящим в ринге.</p>

<p>Началось!</p>

<p>Думала расписывать ли про каждый класс. Передумала, боясь что кто-нибудь не так поймет написанное.</p>

<p>Поэтому расскажу о впечатлениях в целом.</p>

<p>Финские собаки очень отличаются от наших. Их поголовье безусловно, ровнее. Если у нас порой в одном ринге могут выйти собаки как будто совершенно разных пород. Здесь такого не будет. Более того, многие собаки были очень похожи между собой. Особенно выделялось поголовье Икуринов своей стабильностью. Думаю, им справедливо отдали первое место в конкурсе питомников.</p>

<p>Выделялись и финские собаки с новыми кровями. У них более привычный для нас тип.&nbsp;</p>

<p>В целом собаки скорее небольшого роста, серебристого окраса. С анатомией по-разному.</p>

<p>При выборе чуть похуже движения-чуть получше тип, предпочтения отдавались типу. Но собак с плохими движениями, но хорошим типом браковались строго. Но и если не нравился тип при хороших движениях, то собака получала оч.хор. Выигрывали скорее некрупные собаки. Очень красив был Дарси в открытом классе. Надеялась на его победу, но не сложилось. Дарси - третий. Да, обидно, что не выиграл класс. Но очень достойно для Чемпионата Мира! Поздравления!!&nbsp;</p>

<p>В классе кобелей-чемпионов Персик был на высоте. И в стойке, и в движениях ему не было равных. Может быть мальчик, взявший CACIB, был чуть интереснее типом. Но в остальном Персик был безупречен. Чемпион Финляндии! Хотелось бы и строчку &quot;Чемпион Мира&quot;. Но зато есть, к чему стремиться :-)</p>

<p>&nbsp;</p>

<p>Понравились юниорчики из Арктик Кееса. Небольшие, но очень приятные собаки. Уверена, у них впереди еще много побед. Победы и Arctic Kees Eternal Affair, и Nynka Bella Nivalis закономерны и логичны, они действительно были в типе эксперта, обе небольшие, кукляшные девчонки.</p>

<p>&nbsp;</p>

<p>Больше всего впечатлил ринг ветеранок. Впечатлили все девчонки! Вот, где все собаки, как на подбор, все достойные звания чемпиона. Потрясающие собаки!&nbsp;</p>

<p>Айстраум Фаншетта Фей - старшая в ринге, но выглядела безупречнее всех! А какой огонь в глазах, какой показ! Остальные девочки были помоложе, не так безупречно отгруммированы, но тем не менее!</p>

<p>Ikurin Regina Nova - просто потрясающая собака! Такие движения, такой показ, такой задор!&nbsp;</p>

<p>Lady Godiva&#39;s Faye Of Eswood - не очень получились ее фотографии, но поверьте, достойнейший из кеесхондов! Гармоничная, сбалансированная собака с красивейшими движениями!</p>

<p>Windrift&#39;s Aurora Fund - потрясающие углы, выход шеи, корпус, движения. Но все это меркнет перед темпераментом и взаимопониманием владельца и собаки. Столько взаимной любви между двумя существами! Думаю, это и решило исход.</p>

<p>&nbsp;</p>

<p>На мой взгляд, самые интересными были ринги кобелей-чемпионов и ветеранок. И, честно говоря, ветеранке я бы и отдала ЛПП.</p>

<p>&nbsp;</p>

<p>Интересно было посмотреть конкурс питомников. Вот, где видно, какой линии придерживается питомник, кто каким направлением двигается и кто что достиг. Повторюсь, приятно видеть ровное финское поголовье. Надеюсь, и в России сложится свой определенный тип кеесхондов.</p>

<p>&nbsp;</p>

<p>Отдельное спасибо эксперту за работу! За неравнодушное судейство. За тщательный осмотр каждой собаки. За отсутствие экспертизы по лицам. За логичность. Было очень интересно!</p>

<p>&nbsp;</p>

<p>И поздравления, и спасибо всему нашему десанту за отличную работу! Вами проделана огромная работа! Это многого стоит! Дальнейших побед впереди!</p>

<p><a href="http://spitz.su/gallery/world-dog-show-2014-keeshonds" target="_blank">Фотографии и результаты чемпионата Мира в Хельсинки. Кеесхонды</a></p>
<br>
<p align="right">11 августа 2014 г.</p>
