---
layout: default
title:  Добро пожаловать!
menu: index
---

<div class="entry">
  <p>Будем рады познакомить вас с породой кеесхонд, рассказать о жизни питомника и его друзьях, показать наших собак и их детей, поделиться интересными статьями и заметками.</p>
  <p align="center">Приятного просмотра!</p>
  <p align="center">{% include photo.html photo="diva-risha3" %}</p>
</div>
<h1>Щенки кеесхонда</h1>
<div class="entry">
  <p>В данный момент в нашем питомнике есть мальчик кеесхонда, который ждет свою любящую семью.</p>
  <p>Более подобная информация <a href="/puppies">здесь</a>.</p>
<p align="center">{% include photo.html photo="b/black-silver11" height="220"%}{% include photo.html photo="b/black-silver10" height="220"%}{% include photo.html photo="b/black-silver12" height="220"%}</p>
</div>
