---
layout: default
title:  Добро пожаловать!
menu: index
---

<div class="entry">
  <p>Будем рады познакомить вас с породой кеесхонд, рассказать о жизни питомника и его друзьях, показать наших собак и их детей, поделиться интересными статьями и заметками.</p>
  <p align="center">Приятного просмотра!</p>
  <p align="center"><a href="/puppies"><p align="center">{% include photo.html photo="g/anons-g-total" height="800"%}</a></p>
  <!--<p align="center">{% include photo.html photo="g/diva-risha3" %}</p>-->
</div>
