---
layout: default
title: Новости-2016
menu: news
---
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
  <h4>23 июня 2016</h4>

  <p>Наши результаты:<br />
  Дивный Друг Великий Мерлин (Оззи) - Лучший Беби породы!!<br />
  (Заводчики - Алесенко Михаил и Загороднева Елена, Владельцы - Алесенко Мария и Крайнов Владимир)<br />

  <br />
  Линде Айвэ Из Мирашела (Сана) - 3-е место в классе чемпионов!!<br />
  (Заводчики - Никитина Екатерина и Алесенко Михаил и Елена, Владельцы - Матвеевы Александр Иванович и Валентина)<br />
  <br />

  Дива Дивная из Мирашела (Дива) - ЧЕМПИОН МИРА, BOS!<br />
  (Заводчики - Никитина Екатерина и Бахтина Наталья, Владельцы - Алесенко Михаил и Елена)<br />
  <div class="row">
      <div class="col-md-4  col-md-offset-2  col-xs-12 col-sm-12">
      {% include photo.html photo="ww-2016/diva-ozzi" %}
      </div>
      <div class="col-md-4  col-xs-12 col-sm-12">
      {% include photo.html photo="ww-2016/diva" %}
    </div>
  </div> 
  <br />
  Очень рады за Оззика! Это был его первый выход в ринг. Поздравления владельцам с шикарным ребенком!<br />
  <br />
  Огромные поздравления нашей любимой Саночке, ее замечательным владельцам и Елене Пашкевич с призовым местом в сильном классе на чемпионате Мира!<br />
  <br />
  И отдельные поздравления всем, кто так или иначе причастен к великолепной победе Дивы!<br />
  Заводчикам - Никитиной Екатерине и Бахтиной Наталье!<br />
  &quot;Крестной&quot; Дивы, благодаря которой Дива появилась у нас, - Поплавской Елене Владимировне!<br />
  Наталье Троц - за шикарнейшую работу и с подготовкой шерсти, и с таким безупречным выступлением в ринге!<br />
  А самое большое спасибо моему мужу, Алесенко Михаилу. У них с Дивой любовь, и этим все сказано&nbsp;:-)<br />
  <br />
  <p>У Дивки вчера был день рождения. Ей исполнилось 7 лет. Шли на выставку потрясти старыми костями :-)))</p>

  </div>
</div>
