---
layout: default
title: Новости-2017
menu: news
---
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
  <h4>12 февраля 2017</h4>
  <p>Москва, клуб "Президент". Эксперты Гаврилова Яна. Первая выставка Гуси!</p>
  <p>Дивный Друг Гуся Лебедь - Лучший беби породы, Лучший беби Выставки!</p>
  </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-2 col-xs-12 col-sm-12">
    {% include photo.html photo="gusja/gusja-20200217-1" %}
    </div>
    <div class="col-md-4  col-xs-12 col-sm-12">
    {% include photo.html photo="gusja/gusja-20200217-2" %}
    </div>

</div> 
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
  <h4>19 февраля 2017</h4>
  <p>В соревнованиях по аджилити участвовал Дивный Друг Голд Диего! И с успехом занял первое место на трассе категории S "Entry".</p>
  </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-2 col-xs-12 col-sm-12">
    {% include photo.html photo="gusja/gusja-20170219-1" %}
    </div>
    <div class="col-md-4  col-xs-12 col-sm-12">
    {% include photo.html photo="gusja/gusja-20170219" %}
    </div>

</div> 
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
  <h4>05 марта 2017</h4>
  <p>Москва, наши первые соревнования по аджилити за долгое время :-) В самой младшей группе, с самой простой трассой</p>
  <p>Гусечка все правильно пробежала и заняла первое место. Спасибо нашим тренерам за продуктивные тренировки :-)</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
  <h4>18 марта 2017</h4>
  <div class="col-md-8  col-xs-12 col-sm-12">
  <p>Москва, Евразия-2017.  Эксперт - Tiina Taulos.</p>
  <p>Дивный Друг Голд Диего - Лучший щенок  среди кобелей породы!</p>
  </div>
  <div class="col-md-4  col-xs-12 col-sm-12">
    {% include photo.html photo="g/diego/diego201703" %}
  </div>
</div>
</div>
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
  <h4>19 марта 2017</h4>
    <p>Москва, Евразия-2017. Кубок Президента РКФ. Эксперт - Elzbieta Chwalibog.</p>
    <p>Дивный Друг Гуся Лебедь - Лучший щенок породы!</p>
  </div>
</div>
  <div class="row">
    <div class="col-md-3  col-xs-6 col-sm-4">
    {% include photo.html photo="sana201703" %}
    </div>
    <div class="col-md-3  col-xs-6 col-sm-4">
    {% include photo.html photo="201703" %}
    </div>
    <div class="col-md-3  col-xs-6 col-sm-4">
    {% include photo.html photo="good201703" %}
    </div>
    <div class="col-md-3  col-xs-6 col-sm-4">
    {% include photo.html photo="ozzi201703" %}
    </div>
</div> 
  
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
  <h4>15 апреля 2017</h4>
  <p>Москва, клуб "Лидер и Престиж". Эксперт R. Barenne (Франция).</p>
  <p>Дивный Друг Гуся Лебедь - Лучший щенок породы!</p>
  <p>Москва, клуб "Столица". Эксперт- Sonia Kelveri Philippou (Кипр).</p>
    <p>Дивный Друг Голд Диего - Лучший щенок породы!</p>
  </div>
</div>



<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
  <h4>05-06 августа 2017</h4>
  <p>Москва, клуб "Лидер и Престиж". Эксперты Соловьева Ирина и Васильев Олег.</p>
  <p>Дивный Друг Гуся Лебедь - 2xJBOB, BOB, JBIS-IV</p>
  <p>Дива Дивная из Мирашела - VBOB, BOB, BIG-II, VBIS-I</p>
  <p>Москва, клуб "Планета собак". Эксперт Stefan Sinko. Гуся - JBOB и BOB!</p>
  <p>Москва, клуб "Столица". Эксперт Гиндуллина Елена. Гуся - JBOB и BOB!</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
  <h4>17 сентября 2017</h4>
    <div class="col-md-8  col-xs-12 col-sm-12">
    <p>Москва, КЛС "ГОЛДРАЙЗ". Эксперт - Tuominen Matti</p>
    <p>Дивный Друг Голд Диего - Лучший Юниор, Лучший Представитель Породы!</p>
    <p>Москва, КЛС "Планета Собак". Эксперт - Fernando Rodrigues</p>
    <p>Дивный Друг Голд Диего - Лучший Юниор, Лучший Представитель Породы!</p>
  </div>
    <div class="col-md-4  col-xs-12 col-sm-12">
    {% include photo.html photo="g/diego/diego-20170217" %}
    </div>
</div>
</div>
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
  <h4>Октябрь 2017</h4>
  <p>Кеесхонды и золотая осень</p>
  </div>
</div>
<div class="row">
    <div class="col-md-3  col-xs-4 col-sm-3">
    {% include photo.html photo="diva/diva-2017-1" %}
    </div>
    <div class="col-md-3  col-xs-4 col-sm-3">
    {% include photo.html photo="gusja/gusja2017-1" %}
    </div>
    <div class="col-md-3  col-xs-4 col-sm-3">
    {% include photo.html photo="diva2017-2" %}
    </div>
    <div class="col-md-3  col-xs-4 col-sm-3">
    {% include photo.html photo="diva-gusja2017-2" %}
    </div>
</div> 
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
    <h4>19 ноября 2017</h4>
    <p>Москва, фестиваль монопородных выставок в рамках выставки России. Эксперт - Jussi Liimatainen (Финляндия)</p>
    <p>Кеесхонд Дивный Друг Гуся Лебедь - Юный Чемпион Клуба!</p>
    <p>А на самой "России" под строгой экспертизой Vija Klucniece Гуся стала Лучшим Юниором Породы!</p>
  </div>
</div>
<div class="row">
    <div class="col-md-4  col-xs-12 col-sm-12">
    {% include photo.html photo="2017-rossia-good-2" %}
    </div>
    <div class="col-md-4  col-xs-12 col-sm-12">
    {% include photo.html photo="2017-rossia-greja" %}
    </div>
    <div class="col-md-4  col-xs-12 col-sm-12">
    {% include photo.html photo="2017-rossia-gusja" %}
    </div>
</div> 
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
  <h4>26 ноября 2017</h4>
  <p>Москва, Delta-Pal</p>
  <p>Дивный Друг Голд Диего - Лучший Представитель Породы! BIG - III!</p>
  </div>
</div>
<div class="row">
    <div class="col-md-4  col-xs-12 col-sm-12">
    {% include photo.html photo="g/diego/diego-20171126-1" %}
    </div>
    <div class="col-md-4  col-xs-12 col-sm-12">
    {% include photo.html photo="g/diego/diego-20171126-2" %}
    </div>
    <div class="col-md-4  col-xs-12 col-sm-12">
    {% include photo.html photo="g/diego/diego-20171126-3" %}
    </div>
</div> 

