---
layout: default
title: Новости-2018
menu: news
---
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
  <h4>13 января 2018</h4>
    <div class="col-md-8  col-xs-12 col-sm-12">


  <p>"Москва Златоглавая-2018", эксперт Галиаскарова Л.В.</p>
  <p>Дивный Друг Гутедель Вейсер (вл. Атрашкевич Анастасия) - ЛПП!</p>
  </div>
    <div class="col-md-4  col-xs-12 col-sm-12">
    {% include photo.html photo="greja-2018013" %}
    </div>
</div>
</div>

<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
  <h4>27 января 2018</h4>
  <p>На выставках КЛС "Остров Сокровищ" (Эксперт - Ксотарева М.Б.) и клуба "Екселент" (эксперт Владимир Михайлич), Гуся - ЛПП! </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
  <h4>18 февраля 2018</h4>
  <div class="col-md-8 col-xs-12 col-sm-12">

  <p>Монопородная выставка ранга ПК! Эксперт - Karel Horak (Чехия). Гуся - ПК, BOS!</p>
  <p>КЦ Президент, эксперт - Дрейер Т.А.</p>
  <p>Дивный Друг Гутедель Вейсер (вл. Атрашкевич Анастасия) - BOS, Чемпион РФЛС!</p>
  <p>КЛЖ ФАУНА , эксперт - Александров В.</p>
  <p>Грея (вл. Атрашкевич Анастасия) - CAC, Чемпион ОАНКОО!</p>
  <p>Гуся - CAC, ЛС, ЧРКФ!</p>
  </div>
  <div class="col-md-4 col-xs-12 col-sm-12">
    {% include photo.html photo="20180218-gusja-greja-good" %}
  </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
  <h4>24-25 февраля 2018</h4>
  <div class="col-md-3 col-xs-12 col-sm-12">
    {% include photo.html photo="2018-gusja-minsk-cacib" %}
  </div>
  <div class="col-md-6 col-xs-12 col-sm-12">
  <p>Международные выставки в Минске! Спасибо Атрашкевич Анастасии за поездку</p>
  <p>Гуся и Грея закрыли Юного Чемпиона Беларуси и Чемпиона Беларуси! Гуся заработала свой первый CACIB!</p>
  </div>
  <div class="col-md-3 col-xs-12 col-sm-12">
    {% include photo.html photo="20180225-greja-gusja" %}
  </div>
    

  </div>
</div>

<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
  <h4>02-03 марта 2018</h4>
  <p>Состоялась поездка в Вильнюс на 3хCACIB. История поездки заслуживает отдельного рассказа :-)</p>
  <p>С нами ездили Гуся и Грея, сестра Гуси. Обе девушки выступили на отлично! Гуся - 2хCACIB, 3 x BOB, BIG-II, Чемпион Литвы и Юный Чемпион Литвы. Грея - СACIB, JBOB - Юный чемпион Литвы и Чемпион Литвы! Эксперты - Renata Petkrviciene (Литва), Сармонт Тамара (Беларусь), Lilija Zizevske (Литва)</p>
  </div>
</div>
<div class="row">
    <div class="col-md-2  col-xs-4 col-sm-3">
    {% include photo.html photo="gusja/201803-gusja-1" %}
    </div>
    <div class="col-md-2  col-xs-4 col-sm-3">
    {% include photo.html photo="gusja/201803-gusja-3" %}
    </div>
    <div class="col-md-2  col-xs-4 col-sm-3">
    {% include photo.html photo="gusja/201803-gusja" %}
    </div>
    <div class="col-md-2  col-xs-4 col-sm-3">
    {% include photo.html photo="gusja/201803-gusja4" %}
    </div>
    <div class="col-md-2  col-xs-4 col-sm-3">
    {% include photo.html photo="gusja/201803-gusja-greja" %}
    </div>
    <div class="col-md-2  col-xs-4 col-sm-3">
    {% include photo.html photo="201803-greja" %}
    </div>
</div> 
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
  <h4>29 апреля 2018</h4>
  <p>Монопородная выставка, клуб "Лидер и Престиж". Эксперт из Финляндии - Harto Stockmari.</p>
  <p>Дивный Друг Гуся-Лебедь - BOB, BISS-I</p>
  <p>Дива Дивная из Мирашела - VBOB, VBISS-I</p>
  <p>На выставке ранга ЧРКФ Гуся под экспертизой Jasna Matejcic стала Лучший Представителем Породы!</p>
  </div>
</div>
<div class="row">
    <div class="col-md-4  col-xs-12 col-sm-12">
    {% include photo.html photo="201804-diva-gusja" %}
    </div>
    <div class="col-md-4  col-xs-12 col-sm-12">
    {% include photo.html photo="201804-gusja" %}
    </div>
    <div class="col-md-4  col-xs-12 col-sm-12">
    {% include photo.html photo="201804-diva-04" %}
    </div>
</div> 
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
  <h4>05 мая 2018</h4>
    <div class="col-md-8  col-xs-12 col-sm-12">


  <p>Москва, Евразия, CACIB! Сильнейшая конкуренция и кеесхонд Гуся - R.CACIB! Эксперт - Mikael Nilsson (Швеция).</p>
  <h4>06 мая 2018</h4>
  <p>И снова Евразия! Гуся - победитель промежуточного класа. Эксперт - Mikael Nilsson (Швеция).</p>
  </div>
    <div class="col-md-4  col-xs-12 col-sm-12">
    {% include photo.html photo="eurasia20181gusja" %}
    </div>
    </div>
</div>

<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
  <h4>27 мая 2018</h4>
  <div class="col-md-8  col-xs-12 col-sm-12">
  <p>Монопородная выставка ранга ПК. Эксперт - Мария Луиза Маркезе. Дивный Друг Гуся-Лебедь - Победитель Клуба, Лучший Представитель Породы, BIS-II!</p>
  </div>

  <div class="col-md-4  col-xs-12 col-sm-12">
    {% include photo.html photo="gusja/201805-gusja" %}
  </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
  <h4>Октябрь 2018</h4>
  <p>Гуся и Дива в осенннем лесу</p>
  </div>
</div>
<div class="row">
    <div class="col-md-2  col-xs-4 col-sm-3">
    {% include photo.html photo="2018-gusja-diva" %}
    </div>
    <div class="col-md-2  col-xs-4 col-sm-3">
    {% include photo.html photo="2018-gusja-diva-2" %}
    </div>
    <div class="col-md-2  col-xs-4 col-sm-3">
    {% include photo.html photo="2018-gusja-diva-3" %}
    </div>
    <div class="col-md-2  col-xs-4 col-sm-3">
    {% include photo.html photo="2018-gusja-diva-4" %}
    </div>
    <div class="col-md-2  col-xs-4 col-sm-3">
    {% include photo.html photo="2018-gusja-diva-5" %}
    </div>
</div> 
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
  <h4>14 октября 2018</h4>
  <div class="col-md-8 col-xs-12 col-sm-12">
 <p>Монопородная выставка ранга КЧК. Подольск, клуб "Трейл". Эксперт - Ирина Азен (Беларусь).</p>
  <p>Дивный Друг Гуся-Лебедь - ЛС и КЧК!</p>
  </div>
    <div class="col-md-4  col-xs-12 col-sm-12">
    {% include photo.html photo="gusja/gusja-2018-10-14" %}
    </div>
</div>
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
  <h4>04 ноября 2018</h4>
  <p>Москва, выставка "Кубок президента РКФ" в рамках блока выставок "Россия-2018". Эксперт - Мануэль Рамирез.</p>
  <p>Дивный Друг Гуся-Лебедь - CACIB и BOB!!</p>
  </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-2 col-xs-12 col-sm-12">
    {% include photo.html photo="gusja/gusja-20181104-1" %}
    </div>
    <div class="col-md-4  col-xs-12 col-sm-12">
    {% include photo.html photo="gusja/gusja-20181104-2" %}
    </div>

</div> 
