---
layout: default
title: Новости-2019
menu: news
---
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
  <h4>03 марта 2019</h4>
  <p>Поездка-экспромт в Санкт-Петербург на поезде :-) Утром туда, вечером - обратно. Результат порадовал - Гуся стала ЛС и закрыла Интерчемпиона! (Эксперт - Sonia Kelveri Philippou (Кипр)</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
  <h4>20 мая 2019</h4>
  <div class="col-md-8 col-xs-12 col-sm-12">
    <p>Родился помет от Гуси и Аслака!</p>
    <div class="text-center"><a href="/litters/d.html" class="btn-u  btn-u-def" type="button">Перейти на страницу Д-помета &rarr;</a></div>
  </div>

  <div class="col-md-4  col-xs-12 col-sm-12">
    {% include photo.html photo="2019-d" %}
  </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
  <h4>03 ноября 2019</h4>
  <p>Выставка "Кубок Президента РКФ 2019", ранг CACIB. Гуся еще не до конца оделась, получила отличное описание и стала второй в классе Чемпионов!</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
  <h4>22 декабря 2019</h4>
  <p>Дивный Друг Голд Диего - ЛПП, BIG-II</p>
  </div>
</div>
  <div class="row">
      <div class="col-md-4  col-md-offset-2  col-xs-12 col-sm-12">
      {% include photo.html photo="g/diego/2018-diego-1" %}
      </div>
      <div class="col-md-4  col-xs-12 col-sm-12">
      {% include photo.html photo="g/diego/2018-diego-2" %}
    </div>
  </div> 
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
  <h4>29 декабря 2019</h4>
  <p>Зимние фото Дивы и Гуси :-) А так и не скажешь...</p>
  </div>
</div>
<div class="row">
    <div class="col-md-2  col-xs-12 col-sm-12">
    {% include photo.html photo="diva/2019-diva-01" %}
    </div>
    <div class="col-md-2  col-xs-12 col-sm-12">
    {% include photo.html photo="diva/2019-diva-03" %}
    </div>
    <div class="col-md-2  col-xs-12 col-sm-12">
    {% include photo.html photo="diva/2019-diva-02" %}
    </div>
    <div class="col-md-2  col-xs-12 col-sm-12">
    {% include photo.html photo="2019-diva-gusia-03" %}
    </div>
    <div class="col-md-2  col-xs-12 col-sm-12">
    {% include photo.html photo="2019-diva-gusja-04" %}
    </div>
</div> 