---
layout: default
title: Новости-2020
menu: news
---
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
  <h4>5 января 2020</h4>
  <p>Гуся</p>
  </div>
</div>
<div class="row">
    <div class="col-md-2  col-xs-12 col-sm-12">
    {% include photo.html photo="gusja/20200105-gusja3" %}
    </div>
    <div class="col-md-2  col-xs-12 col-sm-12">
    {% include photo.html photo="gusja/20200105-gusja1" %}
    </div>
    <div class="col-md-2  col-xs-12 col-sm-12">
    {% include photo.html photo="gusja/20200105-gusja5" %}
    </div>
    <div class="col-md-2  col-xs-12 col-sm-12">
    {% include photo.html photo="gusja/20200105-gusja2" %}
    </div>
    <div class="col-md-2  col-xs-12 col-sm-12">
    {% include photo.html photo="gusja/20200105-gusja4" %}
    </div>
</div> 
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
  <h4>14 марта 2020</h4>
  <p>Чемпионат породы-2020. Ранг - Победитель года-2020. Эксперт - Оганова Г.Ю.</p>
  <p>Эксперт - Оганова Г.Ю. Дивный Друг Гуся Лебедь - Лучшая Сука, Победитель Года-2020!</p>
  <p>Выставка ранга ЧРКФ. Эксперт - Бровкина Т.И.</p>
  <p>Дивный Друг Гуся Лебедь - Лучший Представитель породы!</p>
  </div>
</div>

