			<ul id="menu">
			  <li class="firstlevel"><a href="#">О нас</a>
			    <ul class="active">
			      <li class="description"><a href="/ru/news.html">Новости</a></li>
			      <li class="description"><a href="/ru/history.html">История</a></li>
			      <li class="description"><a href="/ru/creation.html">Творчество</a></li>
			    </ul>
			  </li>
			  <li class="firstlevel"><a href="#">Наши собаки</a>
			    <ul class="active">
			      <li class="description"><a href="/ru/janya.html">Джани</a></li>
			      <li class="description"><a href="/ru/vamba.html">Вамба</a></li>
			      <li class="description"><a href="/ru/fazana.html">Фазана</a></li>
			    </ul>
			  </li>
			  <li class="firstlevel"><a href="#">Щенки</a>
			    <ul class="active">
			      <li class="description"><a href="/ru/information.html">Информация</a></li>
			      <li class="description"><a href="/ru/note.html">Памятка владельцу</a></li>
			      <li class="description"><a href="/ru/docs.html">Образцы документов</a></li>
			      <li class="description"><a href="/ru/litters.html">Пометы</a></li>
			    </ul>
			  </li>
			  <li class="firstlevel"><a href="#">Полезное</a>
			    <ul class="active">
			      <li class="description"><a href="/ru/history-breed.html">История породы</a></li>
			      <li class="description"><a href="/ru/advices.html">Советы</a></li>
			      <li class="description"><a href="/ru/ambulance.html">Скорая помощь</a></li>
			    </ul>
			  </li>
			  <li class="firstlevel"><a href="#">Контакты</a>
			    <ul class="active">
			      <li class="description"><a href="/ru/feedback.html">Обратная связь</a></li>
			      <li class="description"><a href="/ru/friends.html">Друзья</a></li>
			    </ul>
			  </li>
			  <li class="firstlevel"><a href="/en/index.html">English version</a></li>
			</ul>

<div class="social">
	<a href="#"><img src="../template/img/facebook.png" alt=""></a>
	<a href="#"><img src="../template/img/twitter.png" alt=""></a>
</div>


