<ul class="nav">
  <li {% if page.menu == 'index' %} class='active' {% endif %}><a href="/">Главная</a></li>

  <li class="dropdown" {% if page.menu == 'news' %} class='active' {% endif %}>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Новости
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/news/2013.html">2013</a></li>
      <li><a href="/news/2012.html">2012</a></li>
      <li><a href="/news/2011.html">2011</a></li>
      <li><a href="/news/2010.html">2010</a></li>
      <li><a href="/news/2009.html">2009</a></li>
    </ul>
  </li>
  <li class="dropdown"{% if page.menu == 'about-us' %} class='active' {% endif %}>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      О нас
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/about-us.html">О питомнике</a></li>
      <li><a href="/for-you/www.html">Наше хобби</a></li>
    </ul>
  </li>
  <li class="dropdown"  {% if page.menu == 'diva' %} class='active' {% endif %}>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      О Диве
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/diva-divnaya-iz-mirashela/">Дива</a></li>
      <li><a href="/diva-divnaya-iz-mirashela/shows.html">Выставки</a></li>
      <li><a href="/diva-divnaya-iz-mirashela/stories.html">Рассказы</a></li>
    </ul>
  </li>
  
  <li class="dropdown" {% if page.menu == 'kees' %} class='active' {% endif %}>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      О породе
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/keeshond/history.html">О кеесхондах</a></li>
      <li><a href="/keeshond/standart-fci.html">Стандарт FCI</a></li>
      <li><a href="/keeshond/standart-akc.html">Стандарт АКС</a></li>
    </ul>
  </li>
  <li class="dropdown"  {% if page.menu == 'puppies' %} class='active' {% endif %}>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Щенки
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/puppies">Есть щенки!</a></li>
      <li><a href="/puppies/litters.html">Наши дети</a></li>
    </ul>
  </li>
  <li class="dropdown" {% if page.menu == 'useful' %} class='active' {% endif %}>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Полезное
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/useful/health.html">Здоровье</a></li>
      <li><a href="/useful/care.html">Уход</a></li>
      <li><a href="/useful/training.html">Воспитание</a></li>
      <li><a href="/useful/breeding.html">Разведение</a></li>
      <li><a href="/useful/literature.html">Литература</a></li>
    </ul>
  </li>
  <li {% if page.menu == 'contacts' %} class='active' {% endif %}><a href="/contacts.html">Контакты</a></li>
</ul>


