<ul class="nav">
  <li><a href="/en/">Home</a></li>

  <li class="dropdown" {% if page.menu == 'news' %} class='active' {% endif %}>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      News
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/en/news-2013.html">2013</a></li>
      <li><a href="/en/news-2012.html">2012</a></li>
      <li><a href="/en/news-2011.html">2011</a></li>
      <li><a href="/en/news-2010.html">2010</a></li>
      <li><a href="/en/news-2009.html">2009</a></li>
    </ul>
  </li>
  <li><a href="/en/about-us.html">About Us</a></li>
  <li><a href="/en/diva-divnaya-iz-mirashela.html">About Diva</a></li>
  <li><a href="/en/puppies.html">Puppies</a></li>
  <li><a href="/en/litters.html">Litters</a></li>
  <li><a href="/en/contacts.html">Contacts</a></li>
  <li><a href="/">Русская версия</a></li>
</ul>


