  <div class="row">  
    <div class="col-md-12">
      <h3> Родословная:</h3>
      <div class="table-responsive">                  
        <table class="table-pedigree">
          <col width=33%>
          <col width=33%>
          <col width=33%>
          <tbody>
            <tr>
              <td colspan="1" rowspan="4" class="blck-pedigree-table"><div class="pedigree-name">{{page.f-name}}</div>{% if page.f-titles %}<div class="pedigree-titles">{{page.f-titles}}</div>{% endif %}{% if page.f-tests %}<div class="pedigree-tests">{{page.f-tests}}</div>{% endif %}</td>
              <td colspan="1" rowspan="2"><div class="pedigree-name">{{page.ff-name}}</div>{% if page.ff-titles %}<div class="pedigree-titles">{{page.ff-titles}}</div>{% endif %}{% if page.ff-tests %}<div class="pedigree-tests">{{page.ff-tests}}</div>{% endif %}</td>
              <td><div class="pedigree-name">{{page.fff-name}}</div>{% if page.fff-titles %}<div class="pedigree-titles">{{page.fff-titles}}</div>{% endif %}{% if page.fff-tests %}<div class="pedigree-tests">{{page.fff-tests}}</div>{% endif %}</td>
            </tr>
            <tr>
              <td><div class="pedigree-name">{{page.ffm-name}}</div>{% if page.ffm-titles %}<div class="pedigree-titles">{{page.ffm-titles}}</div>{% endif %}{% if page.ffm-tests %}<div class="pedigree-tests">{{page.ffm-tests}}</div>{% endif %}</td>
            </tr>
            <tr>
              <td colspan="1" rowspan="2"><div class="pedigree-name">{{page.fm-name}}</div>{% if page.fm-titles %}<div class="pedigree-titles">{{page.fm-titles}}</div>{% endif %}{% if page.fm-tests %}<div class="pedigree-tests">{{page.fm-tests}}</div>{% endif %}</td>
              <td><div class="pedigree-name">{{page.fmf-name}}</div>{% if page.fmf-titles %}<div class="pedigree-titles">{{page.fmf-titles}}</div>{% endif %}{% if page.fmf-tests %}<div class="pedigree-tests">{{page.fmf-tests}}</div>{% endif %}</td>
            </tr>
            <tr>
              <td><div class="pedigree-name">{{page.fmm-name}}</div>{% if page.fmm-titles %}<div class="pedigree-titles">{{page.fmm-titles}}</div>{% endif %}{% if page.fmm-tests %}<div class="pedigree-tests">{{page.fmm-tests}}</div>{% endif %}</td>
            </tr>
            <tr>
              <td colspan="1" rowspan="4"><div class="pedigree-name">{{page.m-name}}</div>{% if page.m-titles %}<div class="pedigree-titles">{{page.m-titles}}</div>{% endif %}{% if page.m-tests %}<div class="pedigree-tests">{{page.m-tests}}</div>{% endif %}</td>
              <td colspan="1" rowspan="2"><div class="pedigree-name">{{page.mf-name}}</div>{% if page.mf-titles %}<div class="pedigree-titles">{{page.mf-titles}}</div>{% endif %}{% if page.mf-tests %}<div class="pedigree-tests">{{page.mf-tests}}</div>{% endif %}</td>
              <td><div class="pedigree-name">{{page.mff-name}}</div>{% if page.mff-titles %}<div class="pedigree-titles">{{page.mff-titles}}</div>{% endif %}{% if page.mff-tests %}<div class="pedigree-tests">{{page.mff-tests}}</div>{% endif %}</td>
            </tr>
            <tr>
              <td><div class="pedigree-name">{{page.mfm-name}}</div>{% if page.mfm-titles %}<div class="pedigree-titles">{{page.mfm-titles}}</div>{% endif %}{% if page.mfm-tests %}<div class="pedigree-tests">{{page.mfm-tests}}</div>{% endif %}</td>
            </tr>
            <tr>
              <td colspan="1" rowspan="2"><div class="pedigree-name">{{page.mm-name}}</div>{% if page.mm-titles %}<div class="pedigree-titles">{{page.mm-titles}}</div>{% endif %}{% if page.mm-tests %}<div class="pedigree-tests">{{page.mm-tests}}</div>{% endif %}</td>
              <td><div class="pedigree-name">{{page.mmf-name}}</div>{% if page.mmf-titles %}<div class="pedigree-titles">{{page.mmf-titles}}</div>{% endif %}{% if page.mmf-tests %}<div class="pedigree-tests">{{page.mmf-tests}}</div>{% endif %}</td>
            </tr>
            <tr>
              <td><div class="pedigree-name">{{page.mmm-name}}</div>{% if page.mmm-titles %}<div class="pedigree-titles">{{page.mmm-titles}}</div>{% endif %}{% if page.mmm-tests %}<div class="pedigree-tests">{{page.mmm-tests}}</div>{% endif %}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
      <noindex><div class="text-center"><a href="{{page.link-spitz}}" rel="nofollow" class="btn-u  btn-u-def" type="button" target="_blank">Родословная на spitz.su &rarr;</a></div></noindex>


      
    </div>  
  </div>     