---
layout: default
title: А-помет
supergallery1:
  - a/aramis35.jpg
  - a/aramis34.jpg
  - a/aramis33.jpg
  - a/aramis32.jpg
  - a/aramis31.jpg
  - a/aramis30.jpg
  - a/aramis29.jpg
  - a/aramis28.jpg
  - a/aramis27.jpg
  - a/aramis26.jpg
  - a/aramis25.jpg
  - a/aramis24.jpg
  - a/aramis23.jpg
  - a/aramis22.jpg
  - a/aramis21.jpg
  - a/aramis20.jpg
  - a/aramis19.jpg
  - a/aramis18.jpg
  - a/aramis17.jpg
  - a/aramis16.jpg 
  - a/aramis15.JPG
  - a/aramis14.jpg
  - a/aramis13.jpg
  - a/aramis12.jpg
  - a/aramis11.jpg
  - a/aramis10.jpg
  - a/aramis9.jpg
  - a/aramis8.jpg 
  - a/aramis7.jpg 
  - a/aramis6.jpg
  - a/aramis5.jpg
  - a/aramis4.jpg
  - a/aramis3.jpg
  - a/aramis2.jpg
  - a/aramis1.jpg

supergallery2:
  - a/ariadna25.jpg
  - a/ariadna24.jpg
  - a/ariadna23.jpg
  - a/ariadna22.jpg
  - a/ariadna21.jpg
  - a/ariadna20.jpg
  - a/ariadna19.jpg
  - a/ariadna18.jpg
  - a/ariadna17.jpg
  - a/ariadna13.jpg
  - a/ariadna14.jpg
  - a/ariadna15.jpg
  - a/ariadna16.jpg
  - a/ariadna11.jpg
  - a/ariadna10.jpg
  - a/ariadna12.jpg
  - a/ariadna8.jpg
  - a/ariadna7.jpg
  - a/ariadna9.jpg
  - a/ariadna3.jpg
  - a/ariadna4.jpg
  - a/ariadna5.jpg
  - a/ariadna1.jpg
  - a/ariadna2.jpg

supergallery3:
  - a/aina45.jpg
  - a/aina43.jpg
  - a/aina40.jpg
  - a/aina44.jpg
  - a/aina39.jpg
  - a/aina38.jpg
  - a/aina37.jpg
  - a/aina36.jpg
  - a/aina35.jpg
  - a/aina34.jpg
  - a/aina33.jpg
  - a/aina32.jpg
  - a/aina31.jpg
  - a/aina25.jpg
  - a/aina24.jpg
  - a/aina23.jpg
  - a/aina30.jpg
  - a/aina29.jpg
  - a/aina28.jpg
  - a/aina27.jpg
  - a/aina26.jpg
  - a/aina22.jpg
  - a/aina21.jpg
  - a/aina20.jpg
  - a/aina19.jpg
  - a/aina18.jpg
  - a/aina17.jpg
  - a/aina16.jpg
  - a/aina15.jpg
  - a/aina14.jpg
  - a/aina13.jpg
  - a/aina11.jpg
  - a/aina12.jpg
  - a/aina9.jpg
  - a/aina10.jpg
  - a/aina7.jpg
  - a/aina8.jpg
  - a/aina6.jpg
  - a/aina5.jpg
  - a/aina3.jpg
  - a/aina4.jpg
  - a/aina1.jpg
  - a/aina2.jpg

supergallery4:
  - a/agata15.jpg
  - a/agata16.jpg
  - a/agata13.jpg
  - a/agata14.jpg
  - a/agata10.jpg
  - a/agata12.jpg
  - a/agata9.jpg
  - a/agata7.jpg
  - a/agata8.jpg
  - a/agata4.jpg
  - a/agata5.jpg
  - a/agata6.jpg
  - a/agata1.jpg
  - a/agata2.jpg
  - a/agata3.jpg

supergallery5:
  - a/ami14.jpg
  - a/ami15.jpg
  - a/ami17.jpg
  - a/ami10.jpg
  - a/ami11.jpg
  - a/ami8.jpg
  - a/ami9.jpg
  - a/ami7.jpg
  - a/ami6.jpg
  - a/ami3.jpg
  - a/ami4.jpg
  - a/ami5.jpg
  - a/ami1.jpg
  - a/ami2.jpg

f-name: Russkoe Serebro Peresvet 
f-titles: Grand Ch.RUS, JCh.RUS, Ch.CLUB×2, JCh.CLUB, Ch.RKF×3, Ch.INT, Сh.Breed (Russia), CH.EURASIA-2010, WW, Ch.RUS, EUW×2, Ch.NORD, Сh.Breed (Russia)-2011, Grand Ch.UKR, Ch.FIN, Ch.CZE, Ch.SWE, Ch.EST, Ch.UKR, Ch.ROM, Ch.HUN, Ch.DNK, Ch.LUX, Ch.MCO, Ch.SVN
f-tests: HD-А, ED-0, Eyes-clean, PHPT-negative

ff-name: Epic's Mr Took
ff-titles: Ch.RUS, Ch.USA
ff-tests: HD-A, ED-0, PL-0, PRA-negative, PHPT-negative

fff-name: Cari-On High Thymes
fff-titles: Ch.USA

ffm-name: Jen'ndi's Epic Look At Me
ff-tests: HD-A

fm-name: Vanderblom Circe Invidiosa For Rs
fm-titles: JCh.RUS, Ch.RUS
fm-tests: HD-A, PL-0, PRA-negative, PHPT-negative

fmf-name: Trumpet's Ticket To Ride
fmf-titles: Ch.USA, Ch.CAN
fmf-tests: HD-A, PHPT-negative

fmm-name: Windrift's Wind Song
fmm-titles: Ch.USA

m-name: Diva Divnaya Iz Mirashela
m-titles: Grand Ch.RUS, PRCh.RUS, JCh.RUS, JCh.CLUB, Ch.CLUB, Ch.RKF×4, Ch.RFOS×2, Ch.INT, Сh.Breed (Russia), Best Dog of Breed (Russia), Best Dog of Breed of Year (Russia), Ch.RUS, WW, Ch.UKR
m-tests: HD-B ED-0 PL-0 Eyes-clean PHPT-negative

mf-name: Lohamras King Of The Road 
mf-titles: Grand Ch.RUS,Grand Champion of Russia, Ch.CLUB, Ch.RKF, Ch.INT, Ch.RUS, SWEW, Ch.KAZ, Ch.NOR, Ch.DNK, Ch.HRV, Ч.СКК
mf-tests: HD-А ED-0 PL-0 Eyes-clean PHPT-negative

mff-name: Lohamras Hakuna Matata
mff-titles: Ch.INT, International Champion, Ch.NORD, Ch.DNK
mff-tests: HD-А ED-0 

mfm-name: Lohamras Elvira
mfm-titles: Ch.INT, International Champion, Ch.SWE
mfm-tests: HD-А ED-0 

mm-name: Gloriya Florens Bessi Light
mm-titles: Grand Ch.RUS, JCh.RUS, Ch.CLUB, Ch.RKF, Ch.RUS
mm-tests: PHPT-negative

mmf-name: Aleut
mmf-titles: Ch.RUS
mmf-tests: PHPT-negative

mmm-name: Aistraum Kristina
mmm-titles: Ch.RKF, Ch.RUS
link-spitz: http://spitz.su/parent-generator/build?mother=1722&father=3609

---

<p align="center"><b>Русское Серебро Персивалль Фо Невастар х <a href="/diva-divnaya-iz-mirashela/">Дива Дивная Из Мирашела</a></b></p>
<p align="center"><em>Дата рождения - 27.11.2013</em></p>
<div class="row">
    <div class="col-md-4  col-md-offset-2  col-xs-12 col-sm-12">
    {% include photo-height.html photo="persik5" %}
    </div>
    <div class="col-md-4  col-xs-12 col-sm-12">
    {% include photo-height.html photo="diva81" %}
  </div>
</div> 
<div class="row">
    <div class="col-md-4  col-md-offset-2  col-xs-12 col-sm-12">
      <b>Русское Серебро Персивалль Фо Невастар</b>
    </div>
    <div class="col-md-4  col-xs-12 col-sm-12">
      <b><a href="/diva-divnaya-iz-mirashela/">Дива Дивная Из Мирашела</a></b>
  </div>
</div> 
<div class="row">
    <div class="col-md-12">
      <h4>Дивный Друг Арамис "Арни"</h4>
       {% include supergallery1.html %}
      <p align="center">Владелец: Штаний Мария, Волгоград</p>
      <p>Масик (домашняя кличка малыша) - самый яркий щенок в помете. Спокойный, и в то же время безумно ласковый мальчишка. С очень красивой головой, небольшими ушками, ярким окрасом и компактным корпусом.</p>
  </div>
</div> 
<div class="row">
    <div class="col-md-12">
      <h4>Дивный Друг Ариадна "Тари"</h4>
       {% include supergallery2.html %}
      <p><em><center>РНРТ - negative b/d</center></em></p>
      <p>Воронеж</p>

  </div>
</div> 
<div class="row">
    <div class="col-md-12">
      <h4>Дивный Друг Айна "Чара"</h4>
       {% include supergallery3.html %}
        <p><em><center>РНРТ - negative b/d</center></em><p>
        <p><em><center>Юный Чемпион России<br>РНРТ - negative b/d</center></em><p>
        <p align="center">Владелец: Шалдикова Татьяна, Краснодар</p>
  </div>
</div> 
<div class="row">
    <div class="col-md-12">
      <h4>Дивный Друг Агата "Глаша"</h4>
       {% include supergallery4.html %}
      <p><em><center>РНРТ - negative b/d</center></em><p>
      <p align="center">Владелец: Канина Светлана, Мытищи</p>
      <p>Самая активная девочка в помете. Первая почти во всем. Первая заурчала на кошку, первая открыла глазки, первая бежит покушать :-) Очень куражный, общительный щенок с веселой улыбкой на лице :-)</p>
      <p>Глаша растет не по дням а по часам, очень крупная, и очень веселая девчонка! Из команд лучше всех знает кушать и гулять :) Меняется окрас, у нее почернело пузо, и появились длинные черные волосы на воротнике и вдоль хребта. Очень выросли ножки, как у манекенщицы и стали темно-бежевыми. Еще Глаша научилась мыть лапы в тазике после прогулки, но это ей вообще не нравится.</p>

      <p>Глаша ходит именно гулять и украшать собой окружающий мир. На улице ей нравится все, птички, листочки, кошки, собачки, коляски, детки, мы очень позитивная собачка. &nbsp;Глаша баловень, и где-то хулиганка, четко знает за что будут ругать, но так как большую часть дня она проводит с бабушкой особо команды у нее не проходят, очень умная и хитрая, если можно не делать и получить просто так что-то, она предпочтет не делать.</p>

      <p>А вот дрессируется она не очень, хотя хозяйка Глаши, безусловно, в авторитете. И если Глашу за что-то ругать, то потом надо обязательно мириться, иначе она садится на попу, собирает глазки в кучку и ушки домиком, и делает такую обиженую морду... Зато когда ей хорошо, у нее рот до ушей :-)</p>
  </div>
</div> 
<div class="row">
    <div class="col-md-12">
      <h4>Дивный Друг Ами "Амочка"</h4>
       {% include supergallery5.html %}
      <p><em><center>РНРТ - negative b/d</center></em><p>
      <p align="center">Владелец: Семидолина Александра, Москва</p>
  </div>
</div> 

{% include pedigree.html %}



