---
layout: default
title: Б-помет
supergallery1:
  - b/batman13.jpg
  - b/batman12.jpg
  - b/batman11.jpg
  - b/batman10.jpg
  - b/batman9.jpg
  - b/batman8.jpg
  - b/batman5.jpg
  - b/batman7.jpg
  - b/batman6.jpg
  - b/batman4.jpg
  - b/batman3.jpg
  - b/batman.jpg
  - b/batman-2.jpg
  - b/batman10-2015.jpg
  - b/batman1-2014.jpg
  - b/batman1-2015.jpg
  - b/batman-2015.jpg
  - b/batman2-2015.jpg
  - b/batman3-2015.jpg
  - b/batman4-2015.jpg
  - b/batman5-2015.jpg
  - b/batman6-2015.jpg
  - b/batman7-2015.jpg
  - b/batman8-2015.jpg
  - b/batman9-2015.jpg

supergallery2:
  - b/butler5.jpg
  - b/butler4.jpg
  - b/butler3.jpg
  - b/butler2.jpg
  - b/butler1.jpg
  - b/butler.jpg
  - b/batler1-2014.jpg
  - b/batler2-2014.jpg
  - b/batler3-2014.jpg
  - b/batler4-2015.jpg
  - b/batler5-2015.jpg

supergallery3:
  - b/banderas4.jpg
  - b/banderas3.jpg
  - b/banderas2.jpg
  - b/banderas.jpg
  - b/banderos1-2014.jpg
  - b/banderos2-2014.jpg
  - b/banderos3-2014.jpg
  - b/banderos4-2014.jpg
  - b/banderos5-2014.jpg

supergallery4:
  - b/black-silver13.jpg
  - b/black-silver12.jpg
  - b/black-silver11.jpg
  - b/black-silver10.jpg
  - b/black-silver9.jpg
  - b/black-silver8.jpg
  - b/black-silver7.jpg
  - b/black-silver6.jpg
  - b/black-silver4.jpg
  - b/black-silver5.jpg
  - b/black-silver3.jpg
  - b/black-silver2.jpg
  - b/black-silver1.jpg
  - b/black-silver.jpg

supergallery5:
  - b/balu17.jpg
  - b/balu16.jpg
  - b/balu14.jpg
  - b/balu13.jpg
  - b/balu12.jpg
  - b/balu11.jpg
  - b/balu10.jpg
  - b/balu9.jpg
  - b/balu8.jpg
  - b/balu7.jpg
  - b/balu6.jpg
  - b/balu5.jpg
  - b/balu4.jpg
  - b/balu3.jpg
  - b/balu-2.jpg
  - b/balu.jpg
  - b/balu10-2015.jpg
  - b/balu11-2015.jpg
  - b/balu1-2014.jpg
  - b/balu12-2015.jpg
  - b/balu13-2015.jpg
  - b/balu14-2015.jpg
  - b/balu15-2015.jpg
  - b/balu-2015-1.jpg
  - b/balu-2015-2.jpg
  - b/balu-2015-3.jpg
  - b/balu2-2014.jpg
  - b/balu3-2014.jpg
  - b/balu4-2014.jpg
  - b/balu5-2014.jpg
  - b/balu6-2014.jpg
  - b/balu7-2014.jpg
  - b/balu8-2015.jpg
  - b/balu9-2015.jpg

supergallery6:
  - b/bona3.jpg
  - b/bona4.jpg
  - b/bona2.jpg
  - b/bona1.jpg
  - b/bona.jpg
  - b/bona1-2015.jpg
  - b/bona-alisa-buran-2015.jpg

supergallery7:
  - b/belinda5.jpg
  - b/belinda4.jpg
  - b/belinda3.jpg
  - b/belinda2.jpg
  - b/belinda1.jpg
  - b/belinda.jpg
  - b/belinda1-2014.jpg
  - b/belinda2-2014.jpg
  - b/belinda3-2014.jpg
  - b/belinda4-2014.jpg
  - b/belinda5-2014.jpg
  - b/belinda6-2014.jpg
  - b/belinda7-2015.jpg


f-name: Aistraum Yason
f-titles: Grand Ch.RUS, JCh.RUS, Ch.CLUB×2, JCh.CLUB×2, Ch.RKF, Ch.RUS
f-tests: PHPT-negative

ff-name: Aistraum Yukko
ff-titles: JCh.RUS, Ch.RUS
ff-tests: PHPT-negative

fff-name: Aistraum Gorazio
fff-titles: Grand Ch.RUS, Ch.CLUB, Ch.INT, Ch.RUS, Ch.BLR
ff-tests: PHPT-negative


ffm-name: Aistraum Odri
fff-titles: JCh.RUS, Ch.RFSS, Ch.RUS
ff-tests: PHPT-negative

fm-name: Aistraum Rovena
fm-titles: Grand Ch.RUS, JCh.RUS, JCh.CLUB, Ch.CLUB, Ch.RKF, Ch.INT, Ch.RUS
fm-tests: PHPT-negative

fmf-name: Aistraum Gorazio
fmf-titles: Grand Ch.RUS, Ch.CLUB, Ch.INT, Ch.RUS, Ch.BLR
fmf-tests: PHPT-negative

fmm-name: Lohamras Itzi Bitzi
fmm-titles: Ch.INT, Ch.NOR, Ch.SWE, Ch.FIN, Ch.EST
fmf-tests: HD-A, ED-0, PHPT-negative


m-name: Losse Aranel Iz Mirashela
m-tests: HD-A, PHPT-negative

mf-name: Russkoe Serebro Persivall Fo Nevastar
mf-titles: Grand Ch.RUS, JCh.RUS, Ch.CLUB, Ch.RKF×2, Ch.RFOS, Ch.RFLS, Ch.INT, Ch.RUS, Grand Ch.BLR, Grand Ch.UKR, Ch.BALT, Ch.LVA, Ch.EST, Ch.UKR, Ch.BLR, Ch.LTU, JCh.EST
mf-tests: HD-A, ED-0, Eyes – clean (2010), PHPT-negative

mff-name: Epic's Mr Took
mff-titles: Ch.RUS, Ch.USA
mff-tests: HD-A, ED-0, PL-0, PRA-negative, PHPT-negative

mfm-name: Vanderblom Circe Invidiosa For Rs
mfm-titles: JCh.RUS, Ch.RUS
mfm-tests: HD-A, PL-0, PRA-negative, PHPT-negative 

mm-name: Diva Divnaya Iz Mirashela
mm-titles: Grand Ch.RUS, PRCh.RUS, JCh.RUS, JCh.CLUB, Ch.CLUB, Ch.RKF×4, Ch.RFOS×2, Ch.INT, Сh.Breed (Russia), Best Dog of Breed (Russia), Ch.RUS, WW, Ch.UKR
mm-tests: HD-B, ED-0, PHPT-negative, PL-0, eyes-clean-2012

mmf-name: Lohamras King Of The Road
mmf-titles: Grand Ch.RUS, Ch.CLUB, Ch.RKF, Ch.INT, Ch.RUS, SWEW, Ch.KAZ, Ch.NOR, Ch.DNK, Ch.HRV, Ч.СКК,
mmf-tests: HD-A, ED-0, PHPT-negative PL-0

mmm-name: Gloria Florens Bessi Light
mmm-titles: Grand Ch.RUS, JCh.RUS, Ch.CLUB, Ch.RKF, Ch.RUS
mmf-tests: PHPT-negative

link-spitz: http://spitz.su/parent-generator/build?mother=7362&father=7508

---
<p align="center"><b>Айстраум Ясон х <a href="/litters/la.html#alisa">Лоccэ Аранэль Из Мирашела</a></b></p>
<p align="center"><em>Дата рождения - 06.12.2013</em></p>
<p align="center">Помет получен совместно с Шенявиной Натальей.</p>

<div class="row">
    <div class="col-md-4  col-md-offset-2  col-xs-12 col-sm-12">
    {% include photo.html photo="jason1" %}
    </div>
    <div class="col-md-4  col-xs-12 col-sm-12">
    {% include photo-height.html photo="alisa10" %}
  </div>
</div> 
<div class="row">
    <div class="col-md-4  col-md-offset-2  col-xs-12 col-sm-12">
      <b>Айстраум Ясон</b>
    </div>
    <div class="col-md-4  col-xs-12 col-sm-12">
      <b><a href="/litters/la.html#alisa">Лоccэ Аранэль Из Мирашела</a></b>
  </div>
</div> 
<div class="row">
    <div class="col-md-12">
      <h4>Дивный Друг Бэтмен</h4>
       {% include supergallery1.html %}
      <p><em><center>РНРТ - negative b/d</center></em><p>
      <p align="center">Владелец: Шабанов Александр, Москва</p>
  </div>
</div> 


<div class="row">
    <div class="col-md-12">
      <h4>Дивный Друг Батлер</h4>
       {% include supergallery2.html %}
        <p><em><center>РНРТ - negative b/d</center></em><p>
        <p align="center">Владелец: Карсанова Наталья, Москва</p>

  </div>
</div> 
<div class="row">
    <div class="col-md-12">
      <h4>Дивный Друг Бандерас</h4>
       {% include supergallery3.html %}
      <p><em><center>РНРТ - negative b/d</center></em><p>
      <p align="center">Владелец: Куликов Николай, Москва</p>
  </div>
</div> 
<div class="row">
    <div class="col-md-12">
      <h4>Дивный Друг Блэк Сильвер</h4>
       {% include supergallery4.html %}
      <p><em><center>РНРТ - negative b/d</center></em><p>
      <p align="center">Владелец: Чефранова Мария, Москва</p>
  </div>
</div> 
<div class="row">
    <div class="col-md-12">
      <h4>Дивный Друг Брайт Балу "Балу"</h4>
       {% include supergallery5.html %}
        <p><em><center>РНРТ - negative b/d</center><br>Юный Чемпион России</em><p>
        <p align="center">Владелец: Коренова Анна, Нижний Новгород</p>
  </div>
</div> 


<div class="row">
    <div class="col-md-12">
      <h4>Дивный Друг Бона</h4>
       {% include supergallery6.html %}
      <p><em><center>РНРТ - negative b/d</center></em><p>
      <p align="center">Владелец: Шенявина Елена, Красногорск</p>
  </div>
</div> 

<div class="row">
    <div class="col-md-12">
      <h4>Дивный Друг Белинда</h4>
       {% include supergallery7.html %}
        <p><em><center>РНРТ - negative b/d</center></em><p>
        <p align="center">Владелец: Кузнецова Наталья, Нижний Новгород</p>
  </div>
</div> 


       {% include pedigree.html %}



