---
layout: default
title: Д-помет
supergallery1:
  - d/dabb-24.jpg
  - d/dabb-23.jpg
  - d/dabb-22.jpg
  - d/dabb-21.jpg
  - d/dabb-20.jpg
  - d/dabb-19.jpg
  - d/dabb-18.jpg
  - d/dabb-17.jpg
  - d/dabb-16.jpg
  - d/dabb-15.jpg
  - d/dabb-14.jpg
  - d/dabb-14-1.jpg
  - d/dabb-13.jpg
  - d/dabb-10.jpg
  - d/dabb-09.jpg
  - d/dabb-08.jpg
  - d/dabb-07.jpg
  - d/dabb-06.jpg
  - d/dabb-05.jpg
  - d/dabb-04.jpg
  - d/dabb-02.jpg

supergallery2:
  - d/djels-20.jpg
  - d/djels-19.jpg
  - d/djels-18.jpg
  - d/djels-16.jpg
  - d/djels-15.jpg
  - d/djels-23.jpg
  - d/djels-22.jpg
  - d/djels-21.jpg
  - d/djels-14.jpg
  - d/djels-13.jpg
  - d/djels-11.jpg
  - d/djels-10.jpg
  - d/djels-09.jpg
  - d/djels-08.jpg
  - d/djels-07.jpg
  - d/djels-06.jpg
  - d/djels-05.jpg
  - d/djels-04.jpg
  - d/djels-03.jpg
  - d/djels-02.jpg
  - d/djels-01.jpg


supergallery3:
  - d/darik-19.jpg
  - d/darik-22.jpg
  - d/darik-23.jpg
  - d/darik-21.jpg
  - d/darik-20.jpg
  - d/darik-18.jpg
  - d/darik-17.jpg
  - d/darik-16.jpg
  - d/darik-15.jpg
  - d/darik-14.jpg
  - d/darik-13.jpg
  - d/darik-12.jpg
  - d/darik-11.jpg
  - d/darik-10.jpg
  - d/darik-09.jpg
  - d/darik-08.jpg
  - d/darik-07.jpg
  - d/darik-06.jpg
  - d/darik-05.jpg
  - d/darik-05-1.jpg
  - d/darik-04.jpg
  - d/darik-03.jpg
  - d/darik-02.jpg
  - d/darik-01.jpg
supergallery4:
  - d/darchi-10.jpg
  - d/darchi-09.jpg
  - d/darchi-08.jpg
  - d/darchi-07.jpg
  - d/darchi-06.jpg
  - d/darchi-05.jpg
  - d/darchi-04.jpg
  - d/darchi-03.jpg
  - d/darchi-02.jpg
  - d/darchi-01.jpg
supergallery5:
  - d/dinya-25.jpg
  - d/dinya-23.jpg
  - d/dinya-24.jpg
  - d/dinya-22.jpg
  - d/dinya-21.jpg
  - d/dinya-20.jpg
  - d/dinya-19.jpg
  - d/dinya-18.jpg
  - d/dinya-17.jpg
  - d/dinya-16.jpg
  - d/dinya-15.jpg
  - d/dinya-14.jpg
  - d/dinya-13.jpg
  - d/dinya-12.jpg
  - d/dinya-11.jpg
  - d/dinya-10.jpg
  - d/dinya-09.jpg
  - d/dinya-08.jpg
  - d/dinya-07.jpg
  - d/dinya-06.jpg
  - d/dinya-05.jpg
  - d/dinya-04.jpg
  - d/dinya-03.jpg
  - d/dinya-02.jpg
  - d/dinya-01.jpg
supergallery6:
  - d/gabi-09.jpg
  - d/gabi-08.jpg
  - d/gabi-07.jpg
  - d/gabi-06.jpg
  - d/gabi-05.jpg
  - d/gabi-04.jpg
  - d/gabi-03.jpg
  - d/gabi-02.jpg
  - d/gabi-01.jpg
supergallery7:
  - d/solya-27.jpg
  - d/solya-26.jpg
  - d/solya-25.jpg
  - d/solya-24.jpg
  - d/solya-23.jpg
  - d/solya-22.jpg
  - d/solya-21.jpg
  - d/solya-20.jpg
  - d/solya-19.jpg
  - d/solya-18.jpg
  - d/solya-17.jpg
  - d/solya-16.jpg
  - d/solya-15.jpg
  - d/solya-14.jpg
  - d/solya-13.jpg
  - d/solya-12.jpg
  - d/solya-11.jpg
  - d/solya-10.jpg
  - d/solya-09.jpg
  - d/solya-08.jpg
  - d/solya-07.jpg
  - d/solya-06.jpg
  - d/solya-05.jpg
  - d/solya-04.jpg
  - d/solya-03.jpg
  - d/solya-02.jpg
  - d/solya-01.jpg

f-name: Cinereus Arctic Prince Of Star
f-titles: JCh.RUS, Ch.RKF×2, Ch.RUS
f-tests: PHPT-negative, HD-A, ED-0

ff-name: Arctic Kees Dancing With The Stars
ff-titles: SWEW, Ch.FIN, Ch.DNK
ff-tests: PHPT-negative

fff-name: Windrift's Line Dancer
fff-tests: HD-A, PHPT-negative

ffm-name: Arctic Kees Brilliant Disguise
ffm-titles: Ch.INT, Ch.NORD
fff-tests: HD-A, ED-0, PL-0, PHPT-negative


fm-name: Cinereus Rintin Sunshine
fm-titles: Ch.NORD, Ch.FIN
fm-tests: HD-А ED-0 PHPT-negative

fmf-name: Finriikan Queran 
fmf-titles: Ch.FIN
fmf-tests: HD-A, ED-0, PL-0, PHPT-negative

fmm-name: Cinereus Francaise De Sanna Gourska
fmm-tests: HD-B, ED-I, PL-0, PHPT-negative

m-name: Divnyy Drug Gusja-Lebed'
m-titles: ACh.CLUB, Grand Ch.RUS, JCh.RUS, Ch.CLUB, JCh.CLUB, Ch.RKF, Ch.INT, Сh.Breed (Russia), Ch.RUS, Ch.LTU, Ch.BLR, JCh.LIT, JCh.BLR
m-tests: HD-A, ED-0, PL-0, PHPT-negative, Eyes-clean-2018

mf-name: Trumpet's Fight For Your Right 
mf-titles: Grand Ch.RUS, Ch.CLUB, Ch.RKF, Ch.INT, Eurasian W, Ch.RUS, Ch.USA, LTUW, Ch.KAZ, Ch.KGZ, Ch.BLR
mf-tests: HD-А ED-0 PL-0 Eyes-clean PHPT-negative

mff-name: Dreamwoods Rock The Boat
mff-titles: Ch.USA
mff-tests: HD-A, ED-0

mfm-name: Trumpet's Love For Sale
mfm-titles: Ch.USA
mfm-tests: HD-A, ED-0, PHPT-negative

mm-name: Diva Divnaya Iz Mirashela
mm-titles: Grand Ch.RUS, PRCh.RUS, JCh.RUS, JCh.CLUB, Ch.CLUB, Ch.RKF×4, Ch.RFOS×2, Ch.INT, Сh.Breed (Russia), Best Dog of Breed (Russia), Ch.RUS, WW, Ch.UKR
mm-tests: HD-B, ED-0, PHPT-negative, PL-0, eyes-clean-2012

mmf-name: Lohamras King Of The Road
mmf-titles: Grand Ch.RUS, Ch.CLUB, Ch.RKF, Ch.INT, Ch.RUS, SWEW, Ch.KAZ, Ch.NOR, Ch.DNK, Ch.HRV, Ч.СКК,
mmf-tests: HD-A, ED-0, PHPT-negative PL-0

mmm-name: Gloria Florens Bessi Light
mmm-titles: Grand Ch.RUS, JCh.RUS, Ch.CLUB, Ch.RKF, Ch.RUS
mmf-tests: PHPT-negative


link-spitz: http://en.spitz.su/parent-generator/build?mother=72687&father=86483

---

<p align="center"><b>Cinereus Arctic Prince Of Star х <a href="/divnyi-drug-gusja-lebed/">Дивный Друг Гуся-Лебедь</a></b></p>

<p align="center"><em>Дата рождения - 20.05.2019</em></p>

<div class="row">
    <div class="col-md-4  col-md-offset-2  col-xs-12 col-sm-12">
    {% include photo.html photo="aslak" %}
    </div>
    <div class="col-md-4  col-xs-12 col-sm-12">
    {% include photo-height.html photo="gusja/gusja-2018-13" %}
  </div>
</div> 
<div class="row">
    <div class="col-md-4  col-md-offset-2  col-xs-12 col-sm-12">
      <b>Cinereus Arctic Prince Of Star</b>
    </div>
    <div class="col-md-4  col-xs-12 col-sm-12">
      <b><a href="/divnyi-drug-gusja-lebed/">Дивный Друг Гуся-Лебедь</a></b>
  </div>
</div> 
<div class="row">
    <div class="col-md-12">
        <h4>Дивный Друг Добрыня "Dabb Dabb"</h4>
       {% include supergallery1.html %}
      <p><em><center>РНРТ - negative b/d</center></em><p>
      <p align="center">Владельцы: Höglund Christina and Ronny, питомник "Benito's", Швеция</p>
  </div>
</div> 


<div class="row">
    <div class="col-md-12">
      <h4>Дивный Друг Джельсомино "Джельс"</h4>
       {% include supergallery2.html %}
        <p><em><center>РНРТ - negative b/d</center></em><p>
        <p align="center">Владелец: Никуленко В., Алушта</p>

  </div>
</div> 
<div class="row">
    <div class="col-md-12">
      <h4>Дивный Друг Дар "Darik"</h4>
       {% include supergallery3.html %}
      <p><em><center>РНРТ - negative b/d</center></em><p>
      <p><em><center>RBPIS BUBA</center></em><p>
      <p align="center">Владелец: Gill Brunt, питомник "Zandvoort", Англия</p>

  </div>
</div> 
<div class="row">
    <div class="col-md-12">
      <h4>Дивный Друг Дарчи "Дарчи"</h4>
       {% include supergallery4.html %}
      <p><em><center>РНРТ - negative b/d</center></em><p>
      <p align="center">Владелец: Акинина Светлана, Шахты</p>

  </div>
</div> 
<div class="row">
    <div class="col-md-12">
      <h4>Дивный Друг Динь-Динь "Dinya"</h4>
       {% include supergallery5.html %}
      <p><em><center>РНРТ - negative b/d</center></em><p>
      <p align="center">Владелец: Kristen Dowd, питомник "KJ", США</p>
  </div>
</div> 


<div class="row">
    <div class="col-md-12">
      <h4>Дивный Друг Дороти "Габи"</h4>
       {% include supergallery6.html %}
      <p><em><center>РНРТ - negative b/d</center></em><p>
      <p align="center">Владелец: Иванова Галина, Москва</p>
      
  </div>
</div> 

<div class="row">
    <div class="col-md-12">
      <h4>Дивный Друг Домисолька "Solya"</h4>
       {% include supergallery7.html %}
      <p><em><center>РНРТ - negative b/d</center></em><p>
      <p align="center">Владелец: Line Knutshaug, питомник "Diamond Wolf's", Норвегия</p>
  </div>
</div> 
       {% include pedigree.html %}