---
layout: default
title: Г-помет
supergallery1:
  - g/diego/2018-diego-1.jpg
  - g/diego/2018-diego-2.jpg
  - g/diego/2018-diego-3.jpg
  - g/diego/diego-2018-1.jpg
  - g/diego/diego-2018-2.jpg
  - g/diego/diego-2018-3.jpg
  - g/diego/18.jpg
  - g/diego/17.jpg
  - g/diego/16.jpg
  - g/diego/15.jpg
  - g/diego/14.jpg
  - g/diego/13.jpg
  - g/diego/12.jpg
  - g/diego/11.jpg
  - g/diego/10.jpg
  - g/diego/9.jpg
  - g/diego/8.jpg
  - g/diego/7.jpg
  - g/diego/6.jpg
  - g/diego/5.jpg
  - g/diego/4.jpg
  - g/diego/3.jpg
  - g/diego/2.jpg
  - g/diego/1.jpg


supergallery2:
  - g/una/29.jpg
  - g/una/28.jpg
  - g/una/27.jpg
  - g/una/26.jpg
  - g/una/25.jpg
  - g/una/24.jpg
  - g/una/23.jpg
  - g/una/22.jpg
  - g/una/21.jpg
  - g/una/20.jpg
  - g/una/19.jpg
  - g/una/18.jpg
  - g/una/17.jpg
  - g/una/16.jpg
  - g/una/15.jpg
  - g/una/14.jpg
  - g/una/13.jpg
  - g/una/12.jpg
  - g/una/11.jpg
  - g/una/10.jpg
  - g/una/9.jpg
  - g/una/8.jpg
  - g/una/7.jpg
  - g/una/7-8.jpg
  - g/una/6.jpg
  - g/una/5.jpg
  - g/una/4.jpg
  - g/una/3.jpg
  - g/una/2.jpg
  - g/una/1.jpg

supergallery3:
  - g/lapa/51.jpg
  - g/lapa/50.jpg
  - g/lapa/49_img_4655.jpg
  - g/lapa/48_oimg_4290.jpg
  - g/lapa/47_img_4660.jpg
  - g/lapa/46_img_4647.jpg
  - g/lapa/45_img_3692.jpg
  - g/lapa/44_img_3691.jpg
  - g/lapa/43_img_3665.jpg
  - g/lapa/42_img_2827.jpg
  - g/lapa/41_img_2769.jpg
  - g/lapa/40_img_2764.jpg
  - g/lapa/39_img_2752.jpg
  - g/lapa/38_img_2573.jpg
  - g/lapa/37_img_2572.jpg
  - g/lapa/36_img_2543.jpg
  - g/lapa/34_img_2537.jpg
  - g/lapa/32_img_2262.jpg
  - g/lapa/31_img_2261.jpg
  - g/lapa/30_img_2248.jpg
  - g/lapa/26_la__1728.jpg
  - g/lapa/25_la__1725.jpg
  - g/lapa/24_la__1720.jpg
  - g/lapa/23_la__1714.jpg
  - g/lapa/22_la__1713.jpg
  - g/lapa/20_img_1494.jpg
  - g/lapa/19_img_1466.jpg
  - g/lapa/18_img_1444.jpg
  - g/lapa/17_img_1437.jpg
  - g/lapa/16_img_1436.jpg
  - g/lapa/15_img_1408.jpg
  - g/lapa/14_img_9982.jpg
  - g/lapa/12_img_9619.jpg
  - g/lapa/11_img_9616.jpg
  - g/lapa/9_img_8621.jpg
  - g/lapa/8_img_8605.jpg
  - g/lapa/7_img_8587.jpg
  - g/lapa/6_img_8422.jpg
  - g/lapa/5_img_8417.jpg
  - g/lapa/4_img_8121.jpg
  - g/lapa/1-img_8000_lapa.jpg

supergallery4:
  - gusja/gusja-2017-2.jpg
  - gusja/gusja-2018-13.jpg
  - g/gusja/11.jpg
  - g/gusja/12.jpg
  - g/gusja/18.jpg
  - g/gusja/19.jpg
  - g/gusja/23.jpg
  - g/gusja/24.jpg
  - gusja/gusja-2017-1.jpg

supergallery5:
  - g/greya/27.jpg
  - g/greya/26.jpg
  - g/greya/25.jpg
  - g/greya/24.jpg
  - g/greya/23.jpg
  - g/greya/22.jpg
  - g/greya/21.jpg
  - g/greya/20.jpg
  - g/greya/19.jpg
  - g/greya/18.jpg
  - g/greya/17.jpg
  - g/greya/16.jpg
  - g/greya/15.jpg
  - g/greya/14.jpg
  - g/greya/13.jpg
  - g/greya/12.jpg
  - g/greya/11.jpg
  - g/greya/10.jpg
  - g/greya/9.jpg
  - g/greya/8.jpg
  - g/greya/7.jpg
  - g/greya/6.jpg
  - g/greya/5.jpg
  - g/greya/4.jpg
  - g/greya/3.jpg
  - g/greya/2.jpg
  - g/greya/1.jpg

supergallery6:
  - g/gaechka/27.jpg
  - g/gaechka/26.jpg
  - g/gaechka/25.jpg
  - g/gaechka/24.jpg
  - g/gaechka/23.jpg
  - g/gaechka/22.jpg
  - g/gaechka/21.jpg
  - g/gaechka/20.jpg
  - g/gaechka/19.jpg
  - g/gaechka/18.jpg
  - g/gaechka/17.jpg
  - g/gaechka/16.jpg
  - g/gaechka/15.jpg
  - g/gaechka/14.jpg
  - g/gaechka/13.jpg
  - g/gaechka/12.jpg
  - g/gaechka/11.jpg
  - g/gaechka/10.jpg
  - g/gaechka/09.jpg
  - g/gaechka/08.jpg
  - g/gaechka/07.jpg
  - g/gaechka/06.jpg
  - g/gaechka/05.jpg
  - g/gaechka/04.jpg
  - g/gaechka/03.jpg
  - g/gaechka/02.jpg
  - g/gaechka/01.jpg

f-name: Trumpet's Fight For Your Right
f-titles: Grand Ch.RUS, Ch.CLUB, Ch.RKF, Ch.INT, Eurasian W, Ch.RUS, Ch.USA, LTUW, Ch.KAZ, Ch.KGZ, Ch.BLR
f-tests: HD-А, ED-0, PL-0, Eyes-clean, PHPT-negative

ff-name: Dreamwoods Rock The Boat
ff-titles: Ch.USA
ff-tests: HD-A, ED-0

fff-name: Dreamwoods Jingle Bell Rock
fff-titles: Ch.USA
fff-tests: HD-А 

ffm-name: Dreamwoods Some Like It Hot
ffm-titles: Ch.USA

fm-name: Trumpet's Love For Sale
fm-titles: Ch.USA
fm-tests: HD-А ED-0 PHPT-negative

fmf-name: Shakota's Shot In The Dark
fmf-titles: Ch.USA
fmf-tests: HD-А ED-0 PHPT-negative

fmm-name: Trumpet's Tainted Love
fmm-titles: Ch.USA
fmm-tests: HD-А ED-0 PHPT-negative

m-name: Diva Divnaya Iz Mirashela
m-titles: Grand Ch.RUS, PRCh.RUS, JCh.RUS, JCh.CLUB, Ch.CLUB, Ch.RKF×4, Ch.RFOS×2, Ch.INT, Сh.Breed (Russia), Best Dog of Breed (Russia), Best Dog of Breed of Year (Russia), Ch.RUS, WW, Ch.UKR
m-tests: HD-B ED-0 PL-0 Eyes-clean PHPT-negative

mf-name: Lohamras King Of The Road 
mf-titles: Grand Ch.RUS,Grand Champion of Russia, Ch.CLUB, Ch.RKF, Ch.INT, Ch.RUS, SWEW, Ch.KAZ, Ch.NOR, Ch.DNK, Ch.HRV, Ч.СКК
mf-tests: HD-А ED-0 PL-0 Eyes-clean PHPT-negative

mff-name: Lohamras Hakuna Matata
mff-titles: Ch.INT, International Champion, Ch.NORD, Ch.DNK
mff-tests: HD-А ED-0 

mfm-name: Lohamras Elvira
mfm-titles: Ch.INT, International Champion, Ch.SWE
mfm-tests: HD-А ED-0 

mm-name: Gloriya Florens Bessi Light
mm-titles: Grand Ch.RUS, JCh.RUS, Ch.CLUB, Ch.RKF, Ch.RUS
mm-tests: PHPT-negative

mmf-name: Aleut
mmf-titles: Ch.RUS
mmf-tests: PHPT-negative

mmm-name: Aistraum Kristina
mmm-titles: Ch.RKF, Ch.RUS
link-spitz: http://spitz.su/parent-generator/build?mother=1722&father=61783

---
<p align="center"><b>Trumpet's Fight For Your Right  х <a href="/diva-divnaya-iz-mirashela/">Дива Дивная Из Мирашела</a></b></p>
<p align="center"><em>Дата рождения - 18.09.2016</em></p>

<div class="row">
    <div class="col-md-4  col-md-offset-2  col-xs-12 col-sm-12">
    {% include photo-height.html photo="g/trooper" %}
    </div>
    <div class="col-md-4  col-xs-12 col-sm-12">
    {% include photo-height.html photo="diva68-1" %}
  </div>
</div> 
<div class="row">
    <div class="col-md-4  col-md-offset-2  col-xs-12 col-sm-12">
      <b>Trumpet's Fight For Your Right</b>
    </div>
    <div class="col-md-4  col-xs-12 col-sm-12">
      <b><a href="/diva-divnaya-iz-mirashela/">Дива Дивная Из Мирашела</a></b>
  </div>
</div> 
<div class="row">
    <div class="col-md-12">
      <h4>Дивный Друг Голд Диего "Диего"</h4>
       {% include supergallery1.html %}
      <p><em><center>РНРТ - negative b/d</center></em><p>
      <p align="center">Юный Чемпион России, BIG-III, BIG-II</p>
      <p align="center">Владельцы: Крохины Владимир и Кристина, Москва</p>
  </div>
</div> 


<div class="row">
    <div class="col-md-12">
      <h4>Дивный Друг Грейт Дрим Оф Хэппинесс "Уна"</h4>
       {% include supergallery2.html %}
        <p><em><center>HD-B, РНРТ - negative b/d</center></em><p>
        <p align="center">Владелец: Arja Timonen, питомник "Finriikan", Финляндия</p>

  </div>
</div> 
<div class="row">
    <div class="col-md-12">
      <h4>Дивный Друг Гентская Красавица "Лапа"</h4>
       {% include supergallery3.html %}
      <p><em><center>РНРТ - negative b/d</center></em><p>
      <p align="center">Владелец: Юрий, Ялта</p>

  </div>
</div> 
<div class="row">
    <div class="col-md-12">
      <h4><a href="/divnyi-drug-gusja-lebed">Дивный Друг Гуся-Лебедь "Гуся"</a></h4>
       {% include supergallery4.html %}
        <p><em><center>
        РНРТ - negative b/d, H/D - A/A, E/D – 0/ 0, PL - 0/0, Eyes (PRA, RD, PHTVL, PLL, PPM) - clean-2018<br>
        Интернациональный чемпион, Абсолютный Чемпион НКП,  Юный и взрослый Гранд Чемпион России,  России, НКП, Литвы, Беларуси, Чемпион РКФ, Чемпион Породы-2017, Победитель Клуба-2020
        <br>
        BIS-I монопородной выставки, BIS-II монопородной выставки, BIG-II, Junior-BIS-IV, Baby BIS-I</center></em><p>
          <p align="center">Принадлежит питомнику</p>
      <div class="text-center"><a href="/litters/g.html" class="btn-u  btn-u-def" type="button">Перейти на страницу Гуси &rarr;</a></div>


  </div>
</div> 
<div class="row">
    <div class="col-md-12">
      <h4>Дивный Друг Гутедель Вейсер "Грея"</h4>
       {% include supergallery5.html %}
      <p><em><center>РНРТ - negative b/d</center></em><p>
      <p align="center">Владелец: Атрашкевич Анастасия, питомник "Арт Прайд", МО</p>
  </div>
</div> 


<div class="row">
    <div class="col-md-12">
      <h4>Дивный Друг Гаечка-мастерица "Гаечка"</h4>
       {% include supergallery6.html %}
      <p><em><center>РНРТ - negative b/d</center></em><p>
      <p align="center">Владелец: Наталья, Дмитров</p>
  </div>
</div> 
       {% include pedigree.html %}