---
layout: default
title: ЛА-помет
supergallery1:
  - lois18.jpg
  - lois13.jpg
  - lois16.jpg
  - lois11.jpg
  - lois-masha1.jpg
  - lois-masha2.jpg
  - lois9.jpg
  - lois8.jpg
  - lois7.jpg
  - lois6.jpg
  - lois4.jpg
  - lois3.jpg
  - lois2.jpg
  - lois1.jpg
  - lois0.jpg

supergallery2:
  - luchik2016-1.jpg
  - luchik2016-2.jpg
  - luchik2016-3.jpg
  - luchik2016-4.jpg
  - lychik3.jpg
  - lychik2.jpg
  - lychik1.jpg
  - lychik0.jpg

supergallery3:
  - risha1.jpg
  - risha2.jpg
  - risha22.jpg
  - risha24.jpg
  - risha25.jpg
  - risha23.jpg
  - risha18.jpg
  - risha17.jpg
  - risha16.jpg
  - risha15.jpg
  - risha14.jpg
  - risha13.jpg
  - risha12.jpg
  - risha11.jpg
  - risha10.jpg
  - risha9.jpg
  - risha8.jpg
  - risha7.jpg
  - risha6.jpg
  - risha5.jpg
  - risha4.jpg
  - risha3.jpg
  - risha0.jpg

supergallery4:
  - alisa15.jpg
  - alisa17.jpg
  - alisa16.jpg
  - alisa11.jpg
  - alisa19.jpg
  - alisa20.jpg
  - alisa21.jpg
  - alisa22.jpg
  - alisa23.jpg
  - alisa24.jpg
  - alisa25.jpg 
  - alisa26.jpg
  - alisa27.jpg
  - alisa28.jpg
  - alisa29.jpg
  - alisa30.jpg
  - alisa31.jpg
  - alisa32.jpg
  - alisa33.jpg
  - alisa34.jpg
  - alisa35.jpg
  - alisa36.jpg 
  - alisa14.jpg
  - alisa13.jpg
  - alisa9.jpg
  - alisa10.jpg
  - alisa8.jpg
  - alisa7.jpg
  - alisa6.jpg
  - alisa-diva1.jpg
  - alisa5.jpg
  - alisa4.jpg
  - alisa3.jpg
  - alisa2.jpg
  - alisa1.jpg
  - alisa0.jpg
  - alisa10-2015.jpg
  - alisa11-2015.jpg
  - alisa1-2014.jpg
  - alisa12-2015.jpg
  - alisa13-2015.jpg
  - alisa14-2015.jpg
  - alisa15-2015.jpg
  - alisa16-2016.jpg
  - alisa17-2016.jpg
  - alisa18-2016.jpg
  - alisa19-2015.jpg
  - alisa20-2016.jpg
  - alisa2-2014.jpg
  - alisa3-2014.jpg
  - alisa4-2014.jpg
  - alisa5-2014.jpg
  - alisa6-2014.jpg
  - alisa7-2015.jpg
  - alisa8-2015.jpg
  - alisa9-2015.jpg

supergallery5:
  - sherri-1.jpg
  - sherri-3.jpg
  - sherri17.jpg
  - sherri16.jpg
  - sherri15.jpg
  - sherri14.jpg
  - sherri13.jpg
  - sherri12.jpg
  - sherri11.jpg
  - sherri10.jpg
  - sherri9.jpg
  - sherri8.jpg
  - sherri7.jpg  
  - sherri6.jpg
  - sherri5.jpg
  - sherri4.jpg
  - sherri3.jpg
  - sherri2.jpg
  - sherri1.jpg
  - sherri0.jpg

supergallery6:
  - varya17.jpg
  - varya16.jpg
  - varya14.jpg
  - varya13.jpg
  - varya12.jpg
  - varya11.jpg
  - varya10.jpg
  - varya9.jpg
  - varya8.jpg
  - varya7.jpg
  - varya6.jpg
  - varya5.jpg
  - varya3.jpg
  - varya2.jpg
  - varya1.jpg
  - varya0.jpg
  - v/varya-puppies-0.jpg
  - v/varya-puppies-1.jpg
  - v/varya-puppies-2.jpg

supergallery7:
  - cherri5.jpg
  - cherri4.jpg
  - cherri3.jpg
  - cherri1.jpg
  - cherri0.jpg
  - cherri5.jpg
  - cherri4.jpg
  - cherri3.jpg
  - cherri1.jpg
  - cherri0.jpg

supergallery8:
  - sana24.jpg
  - sana22.jpg
  - sana21.jpg
  - sana20.jpg
  - sana-ew1.jpg
  - sana-ew2.jpg
  - sana-ew3.jpg
  - sana-ew4.jpg
  - sana-ew5.jpg
  - sana18.jpg
  - sana17.jpg
  - sana16.jpg
  - sana13.jpg
  - sana12.jpg
  - sana11.jpg
  - sana10.jpg
  - sana9.jpg
  - sana8.jpg
  - sana6.jpg
  - sana5.jpg
  - sana4.jpg
  - sana3.jpg
  - sana2.jpg
  - sana1.jpg
  - sana0.jpg

f-name: Russkoe Serebro Persivall Fo Nevastar
f-titles: Grand Ch.RUS, JCh.RUS, Ch.CLUB, Ch.RKF×2, Ch.RFOS, Ch.RFLS, Ch.INT, Ch.RUS, Grand Ch.BLR, Grand Ch.UKR, Ch.BALT, Ch.LVA, Ch.EST, Ch.UKR, Ch.BLR, Ch.LTU, JCh.EST
f-tests: HD-А, ED-0, Eyes-clean, PHPT-negative

ff-name: Epic's Mr Took
ff-titles: Ch.RUS, Ch.USA
ff-tests: HD-A, ED-0, PL-0, PRA-negative, PHPT-negative

fff-name: Cari-On High Thymes
fff-titles: Ch.USA

ffm-name: Jen'ndi's Epic Look At Me
ff-tests: HD-A

fm-name: Vanderblom Circe Invidiosa For Rs
fm-titles: JCh.RUS, Ch.RUS
fm-tests: HD-A, PL-0, PRA-negative, PHPT-negative

fmf-name: Trumpet's Ticket To Ride
fmf-titles: Ch.USA, Ch.CAN
fmf-tests: HD-A, PHPT-negative

fmm-name: Windrift's Wind Song
fmm-titles: Ch.USA

m-name: Diva Divnaya Iz Mirashela
m-titles: Grand Ch.RUS, PRCh.RUS, JCh.RUS, JCh.CLUB, Ch.CLUB, Ch.RKF×4, Ch.RFOS×2, Ch.INT, Сh.Breed (Russia), Best Dog of Breed (Russia), Best Dog of Breed of Year (Russia), Ch.RUS, WW, Ch.UKR
m-tests: HD-B ED-0 PL-0 Eyes-clean PHPT-negative

mf-name: Lohamras King Of The Road 
mf-titles: Grand Ch.RUS,Grand Champion of Russia, Ch.CLUB, Ch.RKF, Ch.INT, Ch.RUS, SWEW, Ch.KAZ, Ch.NOR, Ch.DNK, Ch.HRV, Ч.СКК
mf-tests: HD-А ED-0 PL-0 Eyes-clean PHPT-negative

mff-name: Lohamras Hakuna Matata
mff-titles: Ch.INT, International Champion, Ch.NORD, Ch.DNK
mff-tests: HD-А ED-0 

mfm-name: Lohamras Elvira
mfm-titles: Ch.INT, International Champion, Ch.SWE
mfm-tests: HD-А ED-0 

mm-name: Gloriya Florens Bessi Light
mm-titles: Grand Ch.RUS, JCh.RUS, Ch.CLUB, Ch.RKF, Ch.RUS
mm-tests: PHPT-negative

mmf-name: Aleut
mmf-titles: Ch.RUS
mmf-tests: PHPT-negative

mmm-name: Aistraum Kristina
mmm-titles: Ch.RKF, Ch.RUS
link-spitz: http://spitz.su/parent-generator/build?mother=1722&father=3609

---
<p align="center"><b>Русское Серебро Персивалль Фо Невастар х <a href="/diva-divnaya-iz-mirashela/">Дива Дивная Из Мирашела</a></b></p>
<p align="center"><em>Дата рождения - 27.07.2011</em></p>
<p align="center">Помет получен совместно с Никитиной Екатериной.</p>
<div class="row">
    <div class="col-md-4  col-md-offset-2  col-xs-12 col-sm-12">
    {% include photo.html photo="kyzya1" %}
    </div>
    <div class="col-md-4  col-xs-12 col-sm-12">
    {% include photo-height.html photo="diva2" %}
  </div>
</div> 
<div class="row">
    <div class="col-md-4  col-md-offset-2  col-xs-12 col-sm-12">
      <b>Русское Серебро Персивалль Фо Невастар</b>
    </div>
    <div class="col-md-4  col-xs-12 col-sm-12">
      <b><a href="/diva-divnaya-iz-mirashela/">Дива Дивная Из Мирашела</a></b>
  </div>
</div> 
<div class="row">
    <div class="col-md-12">
      <h4>Лапсэ Алассэ Из Мирашела "Лойсо"</h4>
       {% include supergallery1.html %}
        <p><em><center>
          РНРТ - negative b/d<br>
           Юный Чемпион России, Юный Победитель НКП<br>
           Лучший щенок породы, BIS-BABY-I, BIG-2<br>
           Диплом по Общему Курсу Послушания</center></em><p>
          <p align="center">Владелец: Алесенко Мария, Москва.</p>
  </div>
</div> 
<div class="row">
    <div class="col-md-12">
      <h4>Лилта Арквен Из Мирашела "Лучик"</h4>
       {% include supergallery2.html %}
        <p><em><center>
        РНРТ - negative b/d<br>
        Лучший щенок породы, 2хBIS-BABY-III"</center></em><p>
        <p align="center">Владелец: Заименко Александр, Новый Уренгой</p>

  </div>
</div> 
<div class="row">
    <div class="col-md-12">
      <h4>Лассэланта Аринья Из Мирашела "Риша"</h4>
       {% include supergallery3.html %}
        <p><em><center>
        РНРТ - negative b/d<br>
        Юный Чемпион России, Юный Чемпион НКП, Юный Чемпион Беларуси, Чемпион России, Чемпион Беларуси, Чемпион НКП, Чемпион РФЛС<br>
        Лучший щенок породы выставки "Евразия-2012-1", Лучшая Сука-Юниор - 2012, BIS-PUPPY-III, 2xBIS-JUNIOR-I, 2xBIS-JUNIOR-2, BIS-JUNIOR-3, BIS-II, BIS-III, 2xBIG-I, 2xBIG-II, 3xBIG-III, mono-JBIS-I, mono-BIS-I, mono-BIS-II</center></em><p>
        <p align="center">Владелец: Губанов Евгений, Москва</p>
  </div>
</div> 
<div class="row">
    <div class="col-md-12">
      <a name="alisa"></a>
      <h4>Лоccэ Аранэль Из Мирашела "Алиса"</h4>
       {% include supergallery4.html %}
        <p><em><center>
        РНРТ - negative b/d<br>
        Юный Победитель Клуба, Лучший щенок породы</center></em><p>
        <p align="center">Владелец: Шенявина Наталья, Москва.</p>
  </div>
</div> 
<div class="row">
    <div class="col-md-12">
      <h4>Липте Альма Из Мирашела "Шерри"</h4>
       {% include supergallery5.html %}
        <p><em><center>
        РНРТ - negative b/d<br>
        Юный Чемпион России, Юный Чемпион НКП, Чемпион России, Чемпион РКФ<br>
        BIS-BABY-III</center></em><p>
        <p align="center">Владелец: Иванов Сергей, Глазов</p>
  </div>
</div> 


<div class="row">
    <div class="col-md-12">
      <a name="varya"></a>
      <h4>Лиссэ Алмиэ Из Мирашела "Варя"</h4>
       {% include supergallery6.html %}
        <p><em><center>
        РНРТ - negative b/d<br>
        Юный Чемпион России<br>
        Лучший Юниор международной выставки "Россия-2012"</center></em><p>
     
		<p align="center">Владелец: Загороднева Елена, Москва</p>
  </div>
</div> 

<div class="row">
    <div class="col-md-12">
      <h4>Локтэ Айпио Из Мирашела "Черри"</h4>
       {% include supergallery7.html %}
		<p><em><center>
		РНРТ - negative b/d</center></em><p>
		<p align="center">Владелец: Ачурова Мария, Ростов-на-Дону</p>
  </div>
</div> 

<div class="row">
    <div class="col-md-12">
      
      <h4>Линдэ Айвэ Из Мирашела "Сана"</h4>
       {% include supergallery8.html %}
		<p><em><center>
		РНРТ - negative b/d<br>
    Интерчемпион, Юный Чемпион России, Юный Чемпион НКП, Чемпион России, 2хЧемпион РКФ, 
    Чемпион РФОС, Чемпион России, Чемпион Европы-2013, Чемпион Швейцарии, Чемпион Люксембурга
    Чемпион Евразии-2013, Чемпион Евразии-2014<br>
		5хCACIB, Лучший щенок породы XIV Национальной выставки, 
		Лучший щенок породы выставки "Евразия-2012-1", 
		Лучшая сука выставки "Россия-2012", 
		Лучшая сука выставки "Евразия-2013", 
		Лучший представитель породы "Geneve-2013",
		Лучший представитель породы "Евразия-2014"<br>
    BIS-JUNIOR-I (CAC), BIG-I, BIS-I (моно), BIS-JUNIOR-I (моно), BIS-JUNIOR-II(моно)</center></em><p>
     
		<p align="center">Владелец: Матвеев Александр, Москва</p>
  </div>
</div>
       {% include pedigree.html %}


