---
layout: default
title: В-помет
supergallery1:
  - v/merlin1.jpg
  - v/merlin2.jpg
  - v/merlin3.jpg
  - v/merlin4.jpg
  - v/merlin5.jpg

supergallery2:
  - v/viking1.jpg
  - v/viking2.jpg
  - v/viking3.jpg

supergallery3:
  - v/villard.jpg
  - v/villard1.jpg
  - v/villard3.jpg
  - v/villard4.jpg
  - v/villard5.jpg
  - v/villard6.jpg
  - v/villard7.jpg



supergallery4:
  - v/good/2018-good-1.jpg
  - v/good/2018-good-2.jpg
  - v/good/2018-good-3.jpg
  - v/good/23.jpg
  - v/good/22.jpg
  - v/good/21.jpg
  - v/good/20.jpg
  - v/good/19.jpg
  - v/good/18.jpg
  - v/good/17.jpg
  - v/good/16.jpg
  - v/good/15.jpg
  - v/good/14.jpg
  - v/good/13.jpg
  - v/good/12.jpg
  - v/good/11.jpg
  - v/good/10.jpg
  - v/good/9.jpg
  - v/good/8.jpg
  - v/good/7.jpg
  - v/good/6.jpg
  - v/good/5.jpg
  - v/good/4.jpg
  - v/good/3.jpg
  - v/good/2.jpg
  - v/good/1.jpg

supergallery5:
  - v/vendi/19.jpg
  - v/vendi/18.jpg
  - v/vendi/17.jpg
  - v/vendi/16.jpg
  - v/vendi/15.jpg
  - v/vendi/14.jpg
  - v/vendi/13.jpg
  - v/vendi/12.jpg
  - v/vendi/11.jpg
  - v/vendi/10.jpg
  - v/vendi/9.jpg
  - v/vendi/8.jpg
  - v/vendi/7.jpg
  - v/vendi/6.jpg
  - v/vendi/5.jpg
  - v/vendi/4.jpg
  - v/vendi/3.jpg
  - v/vendi/2.jpg
  - v/vendi/1.jpg

supergallery6:
  - v/villina-01.jpg
  - v/villina-02.jpg
  - v/villina-03.jpg
  - v/villina-04.jpg
  - v/villina-05.jpg
  - v/villina2.jpg
  - v/villina3.jpg
  - v/villina4.jpg
  - v/villina5.jpg
  - v/villina6.jpg
  - v/villina7.jpg


f-name: Russkoe Serebro Obereg For Pushistikoff 
f-titles: JCh.RUS, JCh.CLUB, Ch.CLUB, Ch.RKF×2, Ch.INT, Сh.Breed (Russia), Ch.RUS, Ch.EST, Ch.BLR, Ch.UKR
f-tests: HD-А, ED-0, PL-0, Eyes-clean, PHPT-negative

ff-name: Epic's Mr Took
ff-titles: Ch.RUS, Ch.USA
ff-tests: HD-A, ED-0, PL-0, PRA-negative, PHPT-negative

fff-name: Cari-On High Thymes
fff-titles: Ch.USA

ffm-name: Jen'ndi's Epic Look At Me
ff-tests: HD-A

fm-name: Ais Lu-Lu Serebryanaya
fm-titles: Grand Ch.RUS, Ch.CLUB, Ch.RUS, Ch.EST, Ch.UKR
fm-tests: HD-A, ED-0, PL-0, PRA-negative, PHPT-negative

fmf-name: Stephan Greylight
fmm-name: Bonnyvale Becky Of Fantasia

m-name: Lisse Almie Iz Mirashela
m-titles: JCh.RUS
m-tests: HD-A, PHPT-negative

mf-name: Russkoe Serebro Persivall Fo Nevastar
mf-titles: Grand Ch.RUS, JCh.RUS, Ch.CLUB, Ch.RKF×2, Ch.RFOS, Ch.RFLS, Ch.INT, Ch.RUS, Grand Ch.BLR, Grand Ch.UKR, Ch.BALT, Ch.LVA, Ch.EST, Ch.UKR, Ch.BLR, Ch.LTU, JCh.EST
mf-tests: HD-A, ED-0, Eyes – clean (2010), PHPT-negative

mff-name: Epic's Mr Took
mff-titles: Ch.RUS, Ch.USA
mff-tests: HD-A, ED-0, PL-0, PRA-negative, PHPT-negative

mfm-name: Vanderblom Circe Invidiosa For Rs
mfm-titles: JCh.RUS, Ch.RUS
mfm-tests: HD-A, PL-0, PRA-negative, PHPT-negative 

mm-name: Diva Divnaya Iz Mirashela
mm-titles: Grand Ch.RUS, PRCh.RUS, JCh.RUS, JCh.CLUB, Ch.CLUB, Ch.RKF×4, Ch.RFOS×2, Ch.INT, Сh.Breed (Russia), Best Dog of Breed (Russia), Ch.RUS, WW, Ch.UKR
mm-tests: HD-B, ED-0, PHPT-negative, PL-0, eyes-clean-2012

mmf-name: Lohamras King Of The Road
mmf-titles: Grand Ch.RUS, Ch.CLUB, Ch.RKF, Ch.INT, Ch.RUS, SWEW, Ch.KAZ, Ch.NOR, Ch.DNK, Ch.HRV, Ч.СКК,
mmf-tests: HD-A, ED-0, PHPT-negative PL-0

mmm-name: Gloria Florens Bessi Light
mmm-titles: Grand Ch.RUS, JCh.RUS, Ch.CLUB, Ch.RKF, Ch.RUS
mmf-tests: PHPT-negative

link-spitz: http://en.spitz.su/parent-generator/build?mother=7360&father=3223

---
      
<p align="center"><b>Русское Серебро Оберег Фо Пушистикофф х <a href="/litters/la.html#varya">Лиссэ Алмиэ Из Мирашела</a></b></p>
<p align="center"><em>Дата рождения - 22.01.2016</em></p>
<p align="center">Помет получен совместно с Загородневой Еленой.</p>

<div class="row">
    <div class="col-md-4  col-md-offset-2  col-xs-12 col-sm-12">
    {% include photo-height.html photo="gavr" %}
    </div>
    <div class="col-md-4  col-xs-12 col-sm-12">
    {% include photo-height.html photo="v/varya-puppies-2" %}
  </div>
</div> 
<div class="row">
    <div class="col-md-4  col-md-offset-2  col-xs-12 col-sm-12">
      <b>Русское Серебро Оберег Фо Пушистикофф</b>
    </div>
    <div class="col-md-4  col-xs-12 col-sm-12">
      <b><a href="/litters/la.html#alisa">Лиссэ Алмиэ Из Мирашела</a></b>
  </div>
</div> 
<div class="row">
    <div class="col-md-12">
      <h4>Дивный Друг Великий Мерлин "Оззи"</h4>
       {% include supergallery1.html %}
      <p><em><center>РНРТ - negative b/d</center></em><p>
      <p align="center">Владелец: Алесенко Мария, Москва</p>
  </div>
</div> 


<div class="row">
    <div class="col-md-12">
      <h4>Дивный Друг Веселый Викинг</h4>
       {% include supergallery2.html %}
        <p><em><center>РНРТ - negative b/d</center></em><p>

  </div>
</div> 
<div class="row">
    <div class="col-md-12">
      <h4>Дивный Друг Виллард Храбрый "Вилли"</h4>
       {% include supergallery3.html %}
      <p><em><center>РНРТ - negative b/d</center></em><p>
  </div>
</div> 
<div class="row">
    <div class="col-md-12">
      <h4>Дивный Друг Волшебник Гудвин "Гуд"</h4>
       {% include supergallery4.html %}
      <p><em><center>РНРТ - negative b/d</center></em><p>
      <p><em><center>Чемпион РКФ, Чемпион ОАНКОО, Чемпион России</center></em><p>
      <p align="center">Владелец: Бурцев Денис, Москва</p>

  </div>
</div> 
<div class="row">
    <div class="col-md-12">
      <h4>Дивный Друг Венди "Венди"</h4>
       {% include supergallery5.html %}
      <p><em><center>РНРТ - negative b/d</center></em><p>

  </div>
</div> 


<div class="row">
    <div class="col-md-12">
      <h4>Дивный Друг Виллина "Виллина"</h4>
       {% include supergallery6.html %}
      <p><em><center>РНРТ - negative b/d</center></em><p>
  </div>
</div> 


       {% include pedigree.html %}




