---
layout: default
title: Кеесхонды и дети
keywords: общение кеесхондов и детей
description: Ответы на вопросы о взаимоотношениях кеесхондов и детей.
menu: kees
---
<p>На создание этого раздела сподвигла прекрасная галерея с детьми на сайте питомника Дэдди Лайн. И правда, многие из потенциальных владельцев спрашивают, как кеесхонды относятся к детям?Так что может быть убедительнее фотографий со счастливыми детьми вместе с кеесхондами?</p>
  
<p align="center">{% include photo.html photo="diva-olya2" %}</p>

<p>И все-таки хочется добавить пару слов.</p>

<p>Порой мне кажется, что кеесхонды подходят детям даже больше, чем взрослым. Такие же добрые, жизнерадостные, открытые, задорные и улыбающиеся. Ведь эти слова одинаково подходят и к тем, и к другим. И зачастую кеесхонды и дети &nbsp;вместе образуют дружную компанию с веселыми играми.</p>

<p align="center">{% include photo.html photo="diva-olya3" %}</p>

<p>Наверное не стоит брать щенка, если у вас только появились сын или дочь. Одновременно воспитывать щенка и ребенка - все равно, что одновременно воспитывать двух детей. Возможно, но сложно.</p>

<p>Если у вас не было опыта общения с собаками и вы не успели завести собаку до рождения малыша, то стоит подождать, пока вашему ребенку не исполнится хотя бы три годика, чтобы у вас была возможность воспитать еще одного члена семьи. Как и с любой другой породой собак, как и с любым ребенком, нельзя пускать воспитание на самотек, и тем, и другим нужно ваше внимание, ваше объяснение, &ldquo;что такое хорошо, что такое плохо&rdquo;.</p>

<p align="center">{% include photo.html photo="diva-lulka" %}</p>

<p>И совсем другое дело, если к моменту рождения малыша у вас уже есть сформировавшаяся собака, с который вы понимаете друг друга с полувзгляда. Тут кеесхонд, несомненно, будет отличным помощником. Чаще всего кеесхонды в этом случае выполняют роль няньки - предупредят, если вы отвлеклись или замешкались, а малыш плачет в другой комнате, поможет вашему ребенку делать первые шаги или просто будет верным компаньоном.</p>

<p>Когда малыш чуть подрастет, кеесхонд с огромным удовольствием будет катать его на санках. Или сопровождать, пока ваш ребенок скатывается с горки. Играть в мячики, салки.</p>

<p align="center">{% include photo.html photo="diva-olya4" %}</p>

<p>А с какой гордостью с кеесхондами гуляют дети! Необычная, яркая, малоузнаваемая порода всегда вызывает восхищение в глазах окружающих. Естественно, и маленькому владельцу приятно слышать комплименты в адрес своей собаки. Непременно, настроение передается и от ребенка собаке. Нередко, благодаря собаке, застенчивые дети начинают раскрываться, им становиться проще найти язык с окружающими.</p>

<p>Безусловно, дети, в чьих семьях появляется собака (не обязательно кеесхонд), гораздо ответственнее своих сверстников. Глядя на вас, на вашу заботу о питомце, ребенок невольно впитывает ответственное отношение к животным.</p>

<p align="center">{% include photo.html photo="aina-k" %}</p>

<p>Что же касается отношения кеесхондов к детям, расскажу о нашем небольшом опыте. Пусть пока получено не так много пометов. Но все владельцы наших щенков, как один говорят про то, что если на улице встречают коляску или маленького ребенка, то их собака с буйным восторгом бежит со всех ног навстречу ребенку :-) Кеесхонды очень любят детей :-)</p>

<p>И все-таки фотографии красноречивее! &nbsp;Если у вас остались вопросы, пишите нам, с удовольствием попробуем ответить!</p>


<p align="right">22 апреля 2014 г.</p>
