---
layout: default
title: Дивный Друг Балу
slider-gallery:
  - b/balu7.jpg
  - b/balu6.jpg
  - b/balu5.jpg
  - b/balu4.jpg
  - b/balu3.jpg
  - b/balu-2.jpg
  - b/balu.jpg
---
<p align="center">{% include photo.html photo="b/balu7" %}{% include photo.html photo="b/balu6" %}</p>
<p><em><center>РНРТ - negative b/d</center></em><p>
<p>Еще один крупный малыш в помете. Второй брат близнец Бэтмен. Из мальчишек наверно самый ласковый. Брат Бэтмен постоянно его разыгрывает, но стоит увидеть человека, как бросает все игры и бежит к человеку, чтобы поласкаться. Очень быстро понимает все команды, что можно и что нельзя делать. Не будет проблем с обучением и пониманием друг друга.</p>
<div align="center">
<iframe src="http://spitz.su/api/iframe/dog-pedigree/16973" style="width: 800px; height: 1000px" frameborder="0"></iframe>
</div>
