---
layout: default
title: Дивный Друг Блэк Сильвер
slider-gallery:
  - b/black-silver4.jpg
  - b/black-silver5.jpg
  - b/black-silver3.jpg
  - b/black-silver2.jpg
  - b/black-silver1.jpg
  - b/black-silver.jpg
---
<p align="center">{% include photo.html photo="b/black-silver4" %}{% include photo.html photo="b/black-silver5" %}</p>
<p><em><center>РНРТ - negative b/d</center></em><p>
<div align="center">
<iframe src="http://spitz.su/api/iframe/dog-pedigree/16972" style="width: 800px; height: 1000px" frameborder="0"></iframe>
</div>
