---
layout: default
title: Дивный Друг Блэк Сильвер
slider-gallery:
  - b/black-silver12.jpg
  - b/black-silver11.jpg
  - b/black-silver10.jpg
  - b/black-silver9.jpg
  - b/black-silver8.jpg
  - b/black-silver7.jpg
  - b/black-silver6.jpg
  - b/black-silver4.jpg
  - b/black-silver5.jpg
  - b/black-silver3.jpg
  - b/black-silver2.jpg
  - b/black-silver1.jpg
  - b/black-silver.jpg
---
<p align="center">{% include photo.html photo="b/black-silver11" height="220"%}{% include photo.html photo="b/black-silver12" height="220"%}{% include photo.html photo="b/black-silver10" height="220"%}
{% include photo.html photo="b/black-silver9" height="220"%}{% include photo.html photo="b/black-silver8" height="220"%}{% include photo.html photo="b/black-silver7" height="220"%}</p>
<p><em><center>РНРТ - negative b/d</center></em><p>
<p>А это настоящий соня! Если вокруг шум и гам, он может спать без задних лап, но если он проснулся и вы тут как тут, он с радостью начнет с вами играть. Темная спина и морда делают из него настоящего волка.</p>
<div align="center">
<iframe src="http://spitz.su/api/iframe/dog-pedigree/16972" style="width: 800px; height: 1000px" frameborder="0"></iframe>
</div>
