---
layout: default
title: Дивный Друг Агата
slider-gallery:
  - a/agata13.jpg
  - a/agata14.jpg
  - a/agata10.jpg
  - a/agata12.jpg
  - a/agata9.jpg
  - a/agata7.jpg
  - a/agata8.jpg
  - a/agata4.jpg
  - a/agata5.jpg
  - a/agata6.jpg
  - a/agata1.jpg
  - a/agata2.jpg
  - a/agata3.jpg
---

  <p align="center">{% include photo.html photo="a/agata13" %}{% include photo.html photo="a/agata14" %}</p>
<p><em><center>РНРТ - negative b/d</center></em><p>
<p>Самая активная девочка в помете. Первая почти во всем. Первая заурчала на кошку, первая открыла глазки, первая бежит покушать :-) Очень куражный, общительный щенок с веселой улыбкой на лице :-)</p>
<div align="center">
<iframe src="http://spitz.su/api/iframe/dog-pedigree/16880" style="width: 800px; height: 1000px" frameborder="0"></iframe>
</div>
