---
layout: default
title: У нас есть щенки кеесхонда!
menu: puppies
slider1:
  - a/aramis10.jpg
  - a/ariadna10.jpg
  - a/ami9.jpg
  - a/agata10.jpg
  - a/aina10.jpg
slider2:
  - b/balu3.jpg
  - b/batman3.jpg
  - b/belinda1.jpg
  - b/black-silver1.jpg
  - b/butler1.jpg
  - b/bona2.jpg
  - b/banderas3.jpg
---


<h2>Дивный Друг А*</h2>
<p><b>27 ноября</b> у нас родились малыши: 4 девочки и 1 прЫнц.</p>
<p align="center"><b><a href="http://spitz.su/wolfsspitz/russkoe-serebro-peresvet" target="_blank" rel=nofollow>Русское Серебро Пересвет</a> х <a href="http://keeshond-kennel.com/diva-divnaya-iz-mirashela/" target="_blank">Дива Дивная Из Мирашела</a></b></p>
<p align="center">{% include photo.html photo="persik1" %}{% include photo.html photo="diva68-1" %}</p>
<p align="center"><b><a href="http://spitz.su/parent-generator/build?mother=1722&father=2652" rel="nofollow" target="_blank">Родословная помета А</a></b></p>
{% include slider-many-gallery.html data=page.slider1 %}

<table width="100%">
<col width="50%"><col width="50%">
<tr>
  <td>
  <b>Кобели:</b>
  </td>
  <td>
  <b>Суки:</b>
  </td>
</tr>
<tr>
  <td valign="top">
    <ul>
	    <li><a href="/puppies/divny-drug-aramis.html" target="_blank">Дивный Друг Арамис - свободен для резервирования</a></li>
	  </ul>
  </td>
  <td valign="top">
    <ul>
	    <li><a href="/puppies/divny-drug-ariadna.html" target="_blank">Дивный Друг Ариадна - свободна для резервирования</a></li>
	    <li><a href="/puppies/divny-drug-aina.html" target="_blank">Дивный Друг Айна - свободна для резервирования</a></li>
	    <li><a href="/puppies/divny-drug-agata.html" target="_blank">Дивный Друг Агата - свободна для резервирования</a></li>
	    <li><a href="/puppies/divny-drug-ami.html" target="_blank">Дивный Друг Ами - свободна для резервирования</a></li>
	  </ul>
  </td>
</tr>
</table>
<p><b>Русское Серебро Пересвет</b> (Epic's Mr Took x Vanderblom Circe Invidiosa For Rs) - Интерчемпион, Чемпион Европы-2012, Чемпион России, Гранд Чемпион России, Чемпион НКП х2, Чемпион РКФ х2, Чемпион Украины, Гранд Чемпион Украины, Чемпион Словении, Вице Чемпион Европы-2010 г., Чемпион Дании, Чемпион Эстонии, Чемпион Люксембурга, Чемпион Румынии, R.CACIB Леуварден (Голландия), R.VDH CAC Дрезден (Германия), Чемпион Евразии - 2010 г. (R.CACIB -2011 г.), Чемпион породы 2011 г (Золотой Ошейник),
<br>PHPT - отрицателен по рождению, HD-A, ED-0, PL-0, Глаза - чисто.</p>

<p><b>Дива Дивная Из Мирашела</b> (Lohamras King Of The Road x Глория Флоренс Бесси Лайт) - Интерчемпион, Лучший Представитель Породы-2012, Чемпион Породы-2012, Гранд Чемпион России, Гранд Чемпион Украины, Чемпион России, Чемпион Украины, Чемпион НКП, Чемпион РКФ, Юный Чемпион России, Юный Чемпион НКП
<br>6хCACIB, 2xR.CACIB, Лучший щенок XIV Национальной монопородной выставки, 2х Лучший Юниор "Евразии"-2010, Лучший Юниор породы-2010, Лучшая сука "России"-2010, BOS XV Национальной монопородной выставки, R.BOS XVI Национальной монопородной выставки, BIS-I монопородной выставки, BIG-II, BIG-III, JBIS-III
<br>PHPT - отрицательна по рождению, HD-B, ED-0, PL-0, Глаза - чисто.</p>

<hr>
<h2>Дивный Друг Б*</h2>
<p><b>6 декабря</b> родились щенки у дочки Дивы: 5 мальчиков и 2 девочки.</p>
<p align="center"><b><a href="http://spitz.su/wolfsspitz/aistraum-yason" target="_blank" rel=nofollow>Айстраум Ясон</a> х <a href="http://keeshond-kennel.com/puppies/losse-aranel-iz-mirashela.html" target="_blank">Лоссэ Аранель Из Мирашела</a></b></p>
<p align="center">{% include photo.html photo="jason1" %}{% include photo.html photo="alisa10" %}</p>
<p align="center"><b><a href="http://spitz.su/parent-generator/build?mother=7362&father=7508">Родословная помета Б</a></b></p>
{% include slider-many-gallery.html data=page.slider2 %}
<table width="100%">
<col width="50%"><col width="50%">
<tr>
  <td>
  <b>Кобели:</b>
  </td>
  <td>
  <b>Суки:</b>
  </td>
</tr>
<tr>
  <td valign="top">
    <ul>
	    <li><a href="/puppies/divny-drug-batman.html" target="_blank">Дивный Друг Бэтмен - свободен для резервирования</a></li>
	    <li><a href="/puppies/divny-drug-butler.html" target="_blank">Дивный Друг Батлер - свободен для резервирования</a></li>
	    <li><a href="/puppies/divny-drug-banderas.html" target="_blank">Дивный Друг Бандерас - свободен для резервирования</a></li>
	    <li><a href="/puppies/divny-drug-black-silver.html" target="_blank">Дивный Друг Блэк Сильвер - свободен для резервирования</a></li>
	    <li><a href="/puppies/divny-drug-balu.html" target="_blank">Дивный Друг Балу - зарезервирован</a></li>
	  </ul>
  </td>
  <td valign="top">
    <ul>
	    <li><a href="/puppies/divny-drug-bona.html" target="_blank">Дивный Друг Бона - свободна для резервирования</a></li>
	    <li><a href="/puppies/divny-drug-belinda.html" target="_blank">Дивный Друг Белинда - свободна для резервирования</a></li>
	  </ul>
  </td>
</tr>
</table>
<p><b>Айстраум Ясон</b> (Айстраум Юкко x Айстраум Ровена) - Кандидат в Интерчемпионы, Гранд Чемпион России, Чемпион НКПх2, Чемпион России, Чемпион РКФ, Юный Чемпион России, Юный Чемпион НКП, BOB XVII Национальной монопородной выставки
<br>PHPT - отрицателен по рождению</p>

<p><b>Лоссэ Аранель Из Мирашела</b> (Русское Серебро Персивалль Фо Невастар x Дива Дивная Из Мирашела) - Юный победитель клуба, кандидат в Юные Чемпионы России.
<br>PHPT - отрицательна по рождению, HD-A</p>


