---
layout: default
title: Щенки кеесхонда
menu: puppies
slider1:
  - a/aramis14.jpg
  - a/ariadna12.jpg
  - a/aramis10.jpg
  - a/agata12.jpg
  - a/aramis13.jpg
slider2:
  - b/balu3.jpg
  - b/batman3.jpg
  - b/belinda1.jpg
  - b/black-silver1.jpg
  - b/butler1.jpg
  - b/bona2.jpg
  - b/banderas3.jpg
---
<p>В данный момент в питомнике нет щенков для продажи.</p>
<p>Но родились щенки (4 девочки и 3 мальчика) у Шерри - <a href="http://keeshond-kennel.com/puppies/lipte-alma-iz-mirashela.html">Липтэ Альма Из Мирашела</a>.</p>
<p>Счастливым отцом стал прекрасный Финик - Eswood Pure Mousse.</p>
<p>Щенки находятся в городе Глазов (Кировская область).</p>
<p>Координаты для связи:</p>
<p>8(909)051-01-85</p>
<p>tyivanova@mail.ru</p>
<p align="center">{% include photo.html photo="http://keeshond-kennel.com/public/images/photo/sherri10.jpg" height="250"%}{% include photo.html photo="http://spitz.su/tn/350x350/dogs/photo_10097.jpg" height="250"%}</p>
<p align="center">{% include photo.html photo="http://keeshond-kennel.com/public/images/photo/sherri17.jpg" height="250"%}{% include photo.html photo="http://keeshond-kennel.com/public/images/photo/sherri16.jpg" height="250"%}</p>


