---
layout: default
title: Щенки кеесхонда
menu: puppies
superbox:
  - v/varya-puppies-6.jpg
  - v/varya-puppies-8.jpg
  - v/varya-puppies-3.jpg
  - v/varya-puppies-10.jpg
  - v/varya-puppies-12.jpg
  - v/varya-puppies-15.jpg

---
{% include superbox.html %}

<p>У нас родились щенки.</p>
<p>22 января 2016 у Вари, дочки Дивы- <a href="http://keeshond-kennel.com/puppies/lisse-almie-iz-mirashela">Лиссэ Алмиэ Из Мирашела</a>.</p>
<p>Отец щенков - Интерчемпион Русское Серебро Оберег Фо Пушистикофф</p>
<p>Щенки находятся в Москве.</p>
<p>Координаты для связи:</p>
<p>8(966)129-90-05</p>
<p>tyivanova@mail.ru</p>
<p align="center">{% include photo.html photo="v/varya-puppies-2" height="250"%}{% include photo.html photo="gavr" height="250"%}</p>
<p align="center">{% include photo.html photo="sherri17" height="250"%}{% include photo.html photo="sherri16" height="250"%}</p>


