---
layout: default
title: Наши пометы
menu: puppies
---
<h4>20 мая 2019</h4>
<p align="center"><b>Cinereus Arctic Prince Of Star х Дивный Друг Гуся-Лебедь</b></p>
<div class="row">
    <div class="col-md-4  col-md-offset-2  col-xs-12 col-sm-12">
    {% include photo.html photo="aslak" %}
    </div>
    <div class="col-md-4  col-xs-12 col-sm-12">
    {% include photo-height.html photo="gusja/gusja-2018-13" %}
  </div>
</div> 
<div class="row">
    <div class="col-md-4  col-md-offset-2   col-xs-12 col-sm-12">
    <b>Кобели:</b>
      <ul>
        <li>Дивный Друг Добрыня "Dabb Dabb"</li>
        <li>Дивный Друг Джельсомино "Джельс"</li>
        <li>Дивный Друг Дар "Darik"</li>
        <li>Дивный Друг Дарчи "Дарчи"</li>
      </ul>
    </div>
    <div class="col-md-4 col-xs-12 col-sm-12">
    <b>Суки:</b>
    <ul>
	    <li>Дивный Друг Динь-Динь "Dinya"</li>
	    <li>Дивный Друг Дороти "Габи"</li>
      <li>Дивный Друг Домисолька "Solya"</li>
	  </ul>
  </div>
</div> 
<div class="text-center"><a href="/litters/d.html" class="btn-u  btn-u-def" type="button">Перейти на страницу Д-помета &rarr;</a></div>


<h4>18 сентября 2016</h4>
<p align="center"><b>Trumpet's Fight For Your Right  х Дива Дивная Из Мирашела</b></p>
<div class="row">
    <div class="col-md-4  col-md-offset-2  col-xs-12 col-sm-12">
    {% include photo-height.html photo="g/trooper" %}
    </div>
    <div class="col-md-4  col-xs-12 col-sm-12">
    {% include photo-height.html photo="diva68-1" %}
  </div>
</div> 
<div class="row">
    <div class="col-md-4  col-md-offset-2  col-xs-12 col-sm-12">
    <b>Кобели:</b>
      <ul>
        <li>Дивный Друг Голд Диего "Диего"</li>
      </ul>
    </div>
    <div class="col-md-4 col-xs-12 col-sm-12">
    <b>Суки:</b>
    <ul>
	    <li>Дивный Друг Грейт Дрим Оф Хэппинесс "Уна"</li>
	    <li>Дивный Друг Гентская Красавица "Лапа"</li>
      <li><a href="/divnyi-drug-gusja-lebed">Дивный Друг Гуся-Лебедь "Гуся"</a></li>
	    <li>Дивный Друг Гутедель Вейсер "Грея"</li>
	    <li>Дивный Друг Гаечка-мастерица "Гаечка"</li>
	  </ul>
  </div>
</div> 
<div class="text-center"><a href="/litters/g.html" class="btn-u  btn-u-def" type="button">Перейти на страницу Г-помета &rarr;</a></div>

<h4>22 января 2016</h4>
<p align="center"><b>Русское Серебро Оберег Фо Пушистикофф х Лиссэ Алмиэ Из Мирашела</b></p>

<div class="row">
    <div class="col-md-4  col-md-offset-2  col-xs-12 col-sm-12">
    {% include photo-height.html photo="gavr" %}
    </div>
    <div class="col-md-4  col-xs-12 col-sm-12">
    {% include photo-height.html photo="v/varya-puppies-2" %}
  </div>
</div> 
<p align="center">Помет получен совместно с Загородневой Еленой.</p>
<div class="row">
    <div class="col-md-4 col-md-offset-2 col-xs-12 col-sm-12">
    <b>Кобели:</b>
      <ul>
        <li>Дивный Друг Великий Мерлин "Оззи"</li>
        <li>Дивный Друг Веселый Викинг</li>
        <li>Дивный Друг Виллард Храбрый "Вилли"</li>
        <li>Дивный Друг Волшебник Гудвин "Гуд"</li>
      </ul>
    </div>
    <div class="col-md-4 col-xs-12 col-sm-12">
    <b>Суки:</b>
    <ul>
	    <li>Дивный Друг Венди "Венди"</li>
	    <li>Дивный Друг Виллина "Виллина"</li>
	  </ul>
  </div>
</div> 
<div class="text-center"><a href="/litters/v.html" class="btn-u  btn-u-def" type="button">Перейти на страницу В-помета &rarr;</a></div>

<h4>6 декабря 2013</h4>
<p align="center"><b>Айстраум Ясон х Лоссэ Аранель Из Мирашела</b></p>
<div class="row">
    <div class="col-md-4  col-md-offset-2  col-xs-12 col-sm-12">
    {% include photo-height.html photo="jason1" %}
    </div>
    <div class="col-md-4  col-xs-12 col-sm-12">
    {% include photo-height.html photo="alisa10" %}
  </div>
</div> 
<p align="center">Помет получен совместно с Шенявиной Натальей.</p>
<div class="row">
    <div class="col-md-4 col-md-offset-2 col-xs-12 col-sm-12">
    <b>Кобели:</b>
      <ul>
	    <li>Дивный Друг Бэтмен</li>
	    <li>Дивный Друг Батлер</li>
	    <li>Дивный Друг Бандерас</li>
	    <li>Дивный Друг Блэк Сильвер</li>
	    <li>Дивный Друг Брайт Балу "Балу"</li>
      </ul>
    </div>
    <div class="col-md-4 col-xs-12 col-sm-12">
    <b>Суки:</b>
    <ul>
	    <li>Дивный Друг Бона</li>
	    <li>Дивный Друг Белинда</li>
	  </ul>
  </div>
</div> 
<div class="text-center"><a href="/litters/b.html" class="btn-u  btn-u-def" type="button">Перейти на страницу Б-помета &rarr;</a></div>

<h4>27 ноября 2013</h4>
<p align="center"><b>Русское Серебро Пересвет х Дива Дивная Из Мирашела</b></p>
<div class="row">
    <div class="col-md-4  col-md-offset-2  col-xs-12 col-sm-12">
    {% include photo-height.html photo="persik5" %}
    </div>
    <div class="col-md-4  col-xs-12 col-sm-12">
    {% include photo-height.html photo="diva81" %}
  </div>
</div> 
<div class="row">
    <div class="col-md-4 col-md-offset-2 col-xs-12 col-sm-12">
    <b>Кобели:</b>
      <ul>
	    <li>Дивный Друг Арамис "Арни"</li>
      </ul>
    </div>
    <div class="col-md-4 col-xs-12 col-sm-12">
    <b>Суки:</b>
    <ul>
	    <li>Дивный Друг Ариадна "Тари"</li>
	    <li>Дивный Друг Айна "Чара"</li>
	    <li>Дивный Друг Агата "Глаша"</li>
	    <li>Дивный Друг Ами "Амочка"</li>
	  </ul>
  </div>
</div> 
<div class="text-center"><a href="/litters/a.html" class="btn-u  btn-u-def" type="button">Перейти на страницу А-помета &rarr;</a></div>

<h4>27 июля 2011</h4>
<p align="center"><b>Русское Серебро Персивалль Фо Невастар х Дива Дивная Из Мирашела</b></p>
<div class="row">
    <div class="col-md-4  col-md-offset-2  col-xs-12 col-sm-12">
    {% include photo.html photo="kyzya1" %}
    </div>
    <div class="col-md-4  col-xs-12 col-sm-12">
    {% include photo-height.html photo="diva2" %}
  </div>
</div> 
<div class="row">
    <div class="col-md-4 col-md-offset-2 col-xs-12 col-sm-12">
    <b>Кобели:</b>
      <ul>
    	<li>Лапсэ Алассэ Из Мирашела "Лойсо"</li>
	    <li>Лилта Арквен Из Мирашела "Лучик"</li>
      </ul>
    </div>
    <div class="col-md-4 col-xs-12 col-sm-12">
    <b>Суки:</b>
    <ul>
    	<li>Лассэланта Аринья Из Мирашела "Риша"</li>
      <li>Лоccэ Аранэль Из Мирашела "Алиса"</li>
	    <li>Липте Альма Из Мирашела "Шерри"</li>
	    <li>Лиссэ Алмиэ Из Мирашела "Варя"</li>
	    <li>Локтэ Айпио Из Мирашела "Черри"</li>
	    <li>Линдэ Айвэ Из Мирашела "Сана"</li>
	  </ul>
  </div>
</div> 
<div class="text-center"><a href="/litters/la.html" class="btn-u  btn-u-def" type="button">Перейти на страницу ЛА-помета &rarr;</a></div>